@using RuriLib.Models.Blocks
@using RuriLib.Models.Trees
@inject VolatileSettingsService VolatileSettings
@inject Microsoft.Extensions.Localization.IStringLocalizer<AvailableBlocksViewer> Loc

<div class="container-fluid">
    <div class="row py-1">
        @if (ShowFiltered || !currentNode.IsRoot)
        {
            <div class="col-auto pl-0">
                <button type="button" class="btn btn-sm btn-outline-warning" @onclick="GoBack"><span class="oi oi-arrow-top"></span> @Loc["Up"]</button>
            </div>
        }
        <div class="col align-self-stretch px-0">
            <EditForm Model="filter">
                <InputText id="filter-textbox" Value="@filter" ValueExpression="() => filter" 
                           ValueChanged="value => FilterChanged(value)" 
                           placeholder="@Loc["SearchBoxText"]"
                           autocomplete="off"/>
            </EditForm>
        </div>
        <div class="col-auto pr-0">
            <button type="button" class="btn btn-sm btn-outline-success" @onclick="() => FilterChanged(filter)">@Loc["Search"]</button>
        </div>
    </div>
</div>

@if (ShowFiltered)
{
    <RadzenDataList WrapItems="true" AllowPaging="false" Data="@filteredDescriptors" TItem="BlockDescriptor" PageSize="100" Style="margin-left: -5px;">
        <Template Context="descriptor">
            <RadzenCard Style="width:250px; max-width: 250px; margin: 0px; padding: 5px;">
                <IndividualDescriptor Descriptor="descriptor" SelectedDescriptor="OnSelectedDescriptor" />
            </RadzenCard>
        </Template>
    </RadzenDataList>
}
else
{
    @if (currentNode.SubCategories.Count > 0)
    {
        <RadzenDataList WrapItems="true" AllowPaging="false" Data="@currentNode.SubCategories" TItem="CategoryTreeNode" PageSize="100" Style="margin-left: -5px;">
            <Template Context="node">
                <RadzenCard Style="width:250px; max-width: 250px; margin: 0px; padding: 5px;">
                    <div class="card" style="background-color: @node.Category.BackgroundColor; cursor: pointer; border: solid 3px var(--bg-secondary);"
                         @onclick="@(() => SelectSubCategory(node))">
                        <div class="card-body" style="color: @node.Category.ForegroundColor;">
                            <h5 class="card-text">@node.Category.Name</h5>
                        </div>
                    </div>
                </RadzenCard>
            </Template>
        </RadzenDataList>
    }

    @if (currentNode.Descriptors.Count > 0)
    {
        <RadzenDataList WrapItems="true" AllowPaging="false" Data="@currentNode.Descriptors" TItem="BlockDescriptor" PageSize="100" Style="margin-left: -5px;">
            <Template Context="descriptor">
                <RadzenCard Style="width:250px; max-width: 250px; margin: 0px; padding: 5px;">
                    <IndividualDescriptor Descriptor="descriptor" SelectedDescriptor="OnSelectedDescriptor" />
                </RadzenCard>
            </Template>
        </RadzenDataList>
    }

    <label class="mt-2">@Loc["RecentlyUsed"]:</label>
    <RadzenDataList WrapItems="true" AllowPaging="false" Data="@recentDescriptors" TItem="BlockDescriptor" PageSize="100" Style="margin-left: -5px;">
        <Template Context="descriptor">
            <RadzenCard Style="width:250px; max-width: 250px; margin: 0px; padding: 5px;">
                <IndividualDescriptor Descriptor="descriptor" SelectedDescriptor="OnSelectedDescriptor" />
            </RadzenCard>
        </Template>
    </RadzenDataList>
}

@code
{
    [Parameter] public EventCallback<BlockDescriptor> SelectedDescriptor { get; set; }
    [Parameter] public bool FocusFilterTexbox { get; set; } = false;
    private CategoryTreeNode currentNode;
    private List<BlockDescriptor> recentDescriptors;
    private List<BlockDescriptor> filteredDescriptors = new();
    private string filter = string.Empty;
    private bool ShowFiltered => !string.IsNullOrWhiteSpace(filter);

    protected override void OnInitialized()
    {
        var root = RuriLib.Globals.DescriptorsRepository.AsTree();
        currentNode = root
            .SubCategories.First(s => s.Name == "RuriLib")
            .SubCategories.First(s => s.Name == "Blocks");

        recentDescriptors = VolatileSettings.RecentDescriptors.Take(6).ToList();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && FocusFilterTexbox)
        {
            // ElementReference.FocusAsync() doesn't seem to work for <InputText>, only <input>
            _ = js.InvokeVoidAsync("focusElement", "filter-textbox");
        }
    }

    private void SelectSubCategory(CategoryTreeNode subCategory)
    {
        currentNode = subCategory;
    }

    private void GoBack()
    {
        // If we have a filter, clear it
        if (ShowFiltered)
        {
            filter = string.Empty;
            StateHasChanged();
            return;
        }

        // Otherwise go back to the parent (if any)
        if (!currentNode.IsRoot)
        {
            currentNode = currentNode.Parent;
        }
    }

    private void OnSelectedDescriptor(BlockDescriptor descriptor)
    {
        VolatileSettings.AddRecentDescriptor(descriptor);
        SelectedDescriptor.InvokeAsync(descriptor);
    }

    private void FilterChanged(string value)
    {
        filter = value;
        filteredDescriptors = RuriLib.Globals.DescriptorsRepository.Descriptors.Values
                .Where(d => d.Name.Contains(filter, StringComparison.OrdinalIgnoreCase)).ToList();
        StateHasChanged();
    }
}
