@using RuriLib.Models.Blocks.Settings

@if (BlockSetting != null)
{
    @switch (BlockSetting.InputMode)
    {
        case SettingInputMode.Variable:
            <div class="row">
                @if (DisplayName)
                {
                    <div class="col-auto mr-0 pr-0">
                        <label style="line-height: 30px;"><Tooltip Text="@BlockSetting.Description">@BlockSetting.Name</Tooltip></label>
                    </div>
                }
                <div class="col align-self-stretch">
                    <EditForm Model="BlockSetting.InputVariableName">
                        <InputComboBox @bind-Value="BlockSetting.InputVariableName" GetSuggestions="GetSuggestions" InputTextCssClass="bg-variable" />
                    </EditForm>
                </div>
                <div class="col-auto ml-0 pl-0">
                    <SettingInputModeSelector BlockSetting="BlockSetting" SwitchedMode="@((args) => StateHasChanged())" />
                </div>
            </div>
            break;

        case SettingInputMode.Fixed:
            <FixedSettingViewer BlockSetting="BlockSetting" DisplayName="DisplayName" SwitchedMode="@((args) => StateHasChanged())" />
            break;

        case SettingInputMode.Interpolated:
            <InterpolatedSettingViewer BlockSetting="BlockSetting" DisplayName="DisplayName" SwitchedMode="@((args) => StateHasChanged())" />
            break;
    }
}
