@using RuriLib.Models.Blocks

<EditForm Model="Block">
    <p style="color: darkseagreen">
        <span><b>@Block.ReadableName (@Block.Id)</b></span><br />
        <span style="font-size: 12px;"><i>@Block.Descriptor.Description</i></span><br />
        <span style="font-size: 12px;"><i>@Block.Descriptor.ExtraInfo</i></span>
    </p>

    <h6 class="font-weight-bold text-warning">Label:</h6>
    <InputText @bind-Value="Block.Label" />
</EditForm>

@if (Block.Descriptor.ReturnType.HasValue)
{
    <EditForm Model="Block">
        <h6 class="font-weight-bold text-warning" style="margin-top: 20px;">Output Variable (@Block.Descriptor.ReturnType.Value):</h6>
        <InputText @bind-Value="Block.OutputVariable" />
        <label>Is Capture</label>
        <InputCheckbox @bind-Value="Block.IsCapture" />
    </EditForm>
}

<h6 class="font-weight-bold text-warning" style="margin-top: 20px;">Settings:</h6>
@foreach (var setting in Block.Settings)
{
    <BlockInputField BlockSetting="setting" />
}

@code {
    [Parameter] public AutoBlockInstance Block { get; set; }
}
