@using OpenBullet2.Enums
@using OpenBullet2.Models.Settings

@if (BlockSetting != null)
{
    <label>@BlockSetting.FixedSetting.Name</label>
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                @switch (BlockSetting.InputMode)
                {
                    case InputMode.Variable:
                        <div class="form-group">
                            <input style="background-color: #112" type="text" @bind="BlockSetting.InputVariableName" />
                        </div>
                        break;

                    case InputMode.Fixed:
                        <SettingViewer Setting="BlockSetting.FixedSetting" />
                        break;


                    case InputMode.Interpolated:
                        <text>Not available yet...</text>
                        break;
                }
            </div>
            <div class="col-3 text-right">
                <button type="button" class="btn-sm btn-primary @(BlockSetting.InputMode == InputMode.Variable ? "border-dark" : "")"
                        @onclick="@(() => BlockSetting.InputMode = InputMode.Variable)"
                        data-toggle="tooltip" data-placement="top" title="Specify a variable as input">
                    <span style="font-family: Consolas; font-size: 12px; font-weight: bold" aria-hidden="true">VAR</span>
                </button>
                <button type="button" class="btn-sm btn-primary @(BlockSetting.InputMode == InputMode.Fixed ? "border-dark" : "")"
                        @onclick="@(() => BlockSetting.InputMode = InputMode.Fixed)"
                        data-toggle="tooltip" data-placement="top" title="Specify a fixed input">
                    <span class="oi oi-text" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn-sm btn-primary @(BlockSetting.InputMode == InputMode.Interpolated ? "border-dark" : "")"
                        @onclick="@(() => BlockSetting.InputMode = InputMode.Interpolated)"
                        data-toggle="tooltip" data-placement="top" title="Specify an interpolated string as input, the old OpenBullet style">
                    <span class="oi oi-code" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public BlockSetting BlockSetting { get; set; }

    private async Task<IEnumerable<string>> SearchVariables(string searchText)
    {
        return await Task.FromResult(new string[] { "TEST", "VARIABLE", "ABCDEFG" });
    }
}
