@using RuriLib.Models.Blocks.Settings
@using RuriLib.Extensions 

@if (BlockSetting != null)
{
    @if (DisplayLabel)
    {
        <label>@BlockSetting.Name.ToReadableName()</label>
    }
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 no-padding">
                @switch (BlockSetting.InputMode)
                {
                    case SettingInputMode.Variable:
                        <div class="form-group">
                            <input style="background-color: #112" type="text" @bind="BlockSetting.InputVariableName" />
                        </div>
                        break;

                    case SettingInputMode.Fixed:
                        <SettingViewer Setting="BlockSetting.FixedSetting" />
                        break;


                    case SettingInputMode.Interpolated:
                        <div class="form-group">
                            <input style="background-color: #211" type="text" @bind="BlockSetting.InterpolatedString" />
                        </div>
                        break;
                }
            </div>
        </div>
        <div class="row" style="margin-top: -15px;">
            <button type="button" class="btn-sm btn-primary @(BlockSetting.InputMode == SettingInputMode.Variable ? "border-dark" : "")"
                    @onclick="@(() => BlockSetting.InputMode = SettingInputMode.Variable)"
                    title="Specify a variable as input">
                <span style="font-family: Consolas; font-size: 12px; font-weight: bold" aria-hidden="true">VAR</span>
            </button>
            <button type="button" class="btn-sm btn-primary @(BlockSetting.InputMode == SettingInputMode.Fixed ? "border-dark" : "")"
                    @onclick="@(() => BlockSetting.InputMode = SettingInputMode.Fixed)"
                    title="Specify a fixed input">
                <span class="oi oi-text" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn-sm btn-primary @(BlockSetting.InputMode == SettingInputMode.Interpolated ? "border-dark" : "")"
                    @onclick="@(() => BlockSetting.InputMode = SettingInputMode.Interpolated)"
                    title="Specify an interpolated string as input, the old OpenBullet style">
                <span class="oi oi-code" aria-hidden="true"></span>
            </button>
        </div>
    </div>
}

@code {
    [Parameter] public BlockSetting BlockSetting { get; set; }
    [Parameter] public bool DisplayLabel { get; set; } = true;
}
