@using RuriLib.Logging 
@inject IModalService Modal
@inject Microsoft.Extensions.Localization.IStringLocalizer<BotLoggerViewer> Loc

<h5>@Loc["CompleteLog"]</h5>
<div class="debugger-log">
    @foreach (var entry in BotLogger.Entries)
    {
        @if (entry.Message != null && entry.Message.Contains("\n"))
        {
            <textarea class="border-0" readonly
                style="color: @entry.Color;">
                @entry.Message
            </textarea>
        }
        else
        {
            <p style="color: @entry.Color;">
                @if (string.IsNullOrWhiteSpace(entry.Message))
                {
                    @((MarkupString)"&nbsp;");
                }
                else
                {
                    @entry.Message
                }
            </p>
        }
        
        @if (entry.CanViewAsHtml)
        {
            <button class="btn btn-sm btn-outline-primary" @onclick="@(() => ViewHtml(entry.Message))">@Loc["ViewAsHTML"]</button>
        }
    }
</div>

@code {
    [Parameter] public IBotLogger BotLogger { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        await Refresh();
    }

    public async Task Refresh()
    {
        await InvokeAsync(StateHasChanged);
        await js.InvokeVoidAsync("adjustTextAreas");
        await js.InvokeVoidAsync("debuggerScrollToBottom");
    }

    private void ViewHtml(string html)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(HTMLView.Html), html);

        Modal.Show<HTMLView>(Loc["HTMLView"], parameters);
    }
}