@using OpenBullet2.Entities
@using OpenBullet2.Models.Data
@using OpenBullet2.Shared.Forms 
@using RuriLib.Services 
@inject IModalService Modal
@inject RuriLibSettingsService RuriLibSettings

<RadzenRadioButtonList @bind-Value="type" TValue="DataPoolType" Change="@((args) => Change(args))">
    <Items>
        <RadzenRadioButtonListItem Text="Wordlist" Value="DataPoolType.Wordlist" />
        <RadzenRadioButtonListItem Text="File" Value="DataPoolType.File" />
        <RadzenRadioButtonListItem Text="Range" Value="DataPoolType.Range" />
        <RadzenRadioButtonListItem Text="Combinations" Value="DataPoolType.Combinations" />
        <RadzenRadioButtonListItem Text="Infinite" Value="DataPoolType.Infinite" />
    </Items>
</RadzenRadioButtonList>

<br />

<EditForm Model="Options">
    @switch (Options)
    {
        case WordlistDataPoolOptions x:
            @if (selectedWordlist == null)
            {
                <p>No wordlist selected</p>
            }
            else
            {
                <p>@selectedWordlist.Name (@selectedWordlist.Total lines)</p>
            }
            <button class="btn btn-primary" style="margin-bottom: 20px;" @onclick="SelectWordlist">Select Wordlist</button>
            <br />
            break;

        case FileDataPoolOptions x:
            <label>File Name:</label>
            <InputText @bind-Value="x.FileName" />
            <label>Wordlist Type:</label>
            <InputSelect @bind-Value="x.WordlistType">
                @foreach (var name in wordlistTypes)
                {
                    <option value="@name">@name</option>
                }
            </InputSelect>
            <br />
            break;

        case RangeDataPoolOptions x:
            <label>Start:</label>
            <InputNumber @bind-Value="x.Start" />
            <label>Amount:</label>
            <InputNumber @bind-Value="x.Amount" />
            <label>Step:</label>
            <InputNumber @bind-Value="x.Step" />
            <label>Pad:</label>
            <InputCheckbox @bind-Value="x.Pad" />
            <br />
            <label>Wordlist Type:</label>
            <InputSelect @bind-Value="x.WordlistType">
                @foreach (var name in wordlistTypes)
                {
                    <option value="@name">@name</option>
                }
            </InputSelect>
            <br />
            break;

        case CombinationsDataPoolOptions x:
            <label>Character set:</label>
            <InputText @bind-Value="x.CharSet" />
            <label>Length:</label>
            <InputNumber @bind-Value="x.Length" />
            <p style="font-size: 12px; color: #ccc">
                @Math.Pow(x.CharSet.Length, x.Length) combinations will be generated
            </p>
            <label>Wordlist Type:</label>
            <InputSelect @bind-Value="x.WordlistType">
                @foreach (var name in wordlistTypes)
                {
                    <option value="@name">@name</option>
                }
            </InputSelect>
            <br />
            break;

        case InfiniteDataPoolOptions x:
            <label>Wordlist Type:</label>
            <InputSelect @bind-Value="x.WordlistType">
                @foreach (var name in wordlistTypes)
                {
                    <option value="@name">@name</option>
                }
            </InputSelect>
            <br />
            break;
    }
</EditForm>

@code {
    [Parameter] public DataPoolOptions Options { get; set; }
    [Parameter] public EventCallback<DataPoolOptions> SetOptions { get; set; }
    DataPoolType type = DataPoolType.Wordlist;
    WordlistEntity selectedWordlist;
    List<string> wordlistTypes;

    protected override void OnInitialized()
    {
        wordlistTypes = RuriLibSettings.Environment.WordlistTypes.Select(t => t.Name).ToList();
    }

    enum DataPoolType
    {
        Wordlist,
        File,
        Range,
        Combinations,
        Infinite
    }

    void Change(DataPoolType? value)
    {
        if (value.HasValue)
        {
            Options = value.Value switch
            {
                DataPoolType.Wordlist => new WordlistDataPoolOptions()
                { WordlistId = selectedWordlist == null ? -1 : selectedWordlist.Id },
                DataPoolType.File => new FileDataPoolOptions(),
                DataPoolType.Range => new RangeDataPoolOptions(),
                DataPoolType.Combinations => new CombinationsDataPoolOptions(),
                DataPoolType.Infinite => new InfiniteDataPoolOptions(),
                _ => throw new NotImplementedException()
            };

            SetOptions.InvokeAsync(Options);
        }
    }

    async Task SelectWordlist()
    {
        var modal = Modal.Show<WordlistSelector>("Select Wordlist");
        var result = await modal.Result;

        if (!result.Cancelled)
        {
            selectedWordlist = result.Data as WordlistEntity;
            ((WordlistDataPoolOptions)Options).WordlistId = selectedWordlist.Id;
        }
    }
}
