@using OpenBullet2.Core.Entities
@using OpenBullet2.Core.Models.Data
@using OpenBullet2.Shared.Forms 
@using RuriLib.Services 
@using OpenBullet2.Auth 
@inject IModalService Modal
@inject IWordlistRepository WordlistRepo
@inject IGuestRepository GuestRepo
@inject RuriLibSettingsService RuriLibSettings
@inject AuthenticationStateProvider Auth
@inject Microsoft.Extensions.Localization.IStringLocalizer<DataPoolSelector> Loc

<RadzenRadioButtonList @bind-Value="type" TValue="DataPoolType" Change="@((args) => Change(args))">
    <Items>
        <RadzenRadioButtonListItem Text="@Loc["Wordlist"]" Value="DataPoolType.Wordlist" />
        <RadzenRadioButtonListItem Text="@Loc["File"]" Value="DataPoolType.File" />
        <RadzenRadioButtonListItem Text="@Loc["Range"]" Value="DataPoolType.Range" />
        <RadzenRadioButtonListItem Text="@Loc["Combinations"]" Value="DataPoolType.Combinations" />
        <RadzenRadioButtonListItem Text="@Loc["Infinite"]" Value="DataPoolType.Infinite" />
    </Items>
</RadzenRadioButtonList>
<br />

<EditForm Model="Options">
    @switch (Options)
    {
        case WordlistDataPoolOptions x:
            @if (selectedWordlist == null)
            {
                <p>@Loc["NoWordlistSelected"]</p>
            }
            else
            {
                <p>@selectedWordlist.Name (@selectedWordlist.Total @Loc["lines"])</p>
            }
            <div class="mb-2">
                <button class="btn btn-outline-primary" @onclick="SelectWordlist">@Loc["SelectWordlist"]</button>
                <button class="btn btn-outline-primary" @onclick="AddWordlist">@Loc["AddWordlist"]</button>
            </div>
            break;

        case FileDataPoolOptions x:
            <label>@Loc["FileName"]:</label>
            <InputText @bind-Value="x.FileName" />
            <label>@Loc["WordlistType"]:</label>
            <InputSelect @bind-Value="x.WordlistType">
                @foreach (var name in wordlistTypes)
                {
                    <option value="@name">@name</option>
                }
            </InputSelect>
            <br />
            break;

        case RangeDataPoolOptions x:
            <label>@Loc["Start"]:</label>
            <InputNumber @bind-Value="x.Start" />
            <label>@Loc["Amount"]:</label>
            <InputNumber @bind-Value="x.Amount" />
            <label>@Loc["Step"]:</label>
            <InputNumber @bind-Value="x.Step" />
            <label>@Loc["Pad"]:</label>
            <InputCheckbox @bind-Value="x.Pad" />
            <br />
            <label>@Loc["WordlistType"]:</label>
            <InputSelect @bind-Value="x.WordlistType">
                @foreach (var name in wordlistTypes)
                {
                    <option value="@name">@name</option>
                }
            </InputSelect>
            <br />
            break;

        case CombinationsDataPoolOptions x:
            <label>@Loc["CharacterSet"]:</label>
            <InputText @bind-Value="x.CharSet" />
            <label>@Loc["Length"]:</label>
            <InputNumber @bind-Value="x.Length" />
            <p style="font-size: 12px; color: #ccc">
                @Math.Pow(x.CharSet.Length, x.Length) @Loc["combinationsWillBeGenerated"]
            </p>
            <label>@Loc["WordlistType"]:</label>
            <InputSelect @bind-Value="x.WordlistType">
                @foreach (var name in wordlistTypes)
                {
                    <option value="@name">@name</option>
                }
            </InputSelect>
            <br />
            break;

        case InfiniteDataPoolOptions x:
            <label>@Loc["WordlistType"]:</label>
            <InputSelect @bind-Value="x.WordlistType">
                @foreach (var name in wordlistTypes)
                {
                    <option value="@name">@name</option>
                }
            </InputSelect>
            <br />
            break;
    }
</EditForm>

@code {
    [Parameter] public DataPoolOptions Options { get; set; }
    [Parameter] public EventCallback<DataPoolOptions> SetOptions { get; set; }
    [Parameter] public EventCallback<int> SetWordlist { get; set; }
    
    private DataPoolType type = DataPoolType.Wordlist;
    private WordlistEntity selectedWordlist;
    private List<string> wordlistTypes = new();
    private int uid = -1;

    protected override async Task OnInitializedAsync()
    {
        uid = await ((OBAuthenticationStateProvider)Auth).GetCurrentUserId();
        wordlistTypes = RuriLibSettings.Environment.WordlistTypes.Select(t => t.Name).ToList();
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnParametersSetAsync()
    {
        // We're in edit mode
        if (Options is WordlistDataPoolOptions o && o.WordlistId != -1)
        {
            selectedWordlist = await WordlistRepo.Get(o.WordlistId);
        }

        // Hook the correct type for radio buttons
        type = GetCurrentType();
    }

    enum DataPoolType
    {
        Wordlist,
        File,
        Range,
        Combinations,
        Infinite
    }

    void Change(DataPoolType? value)
    {
        if (value.HasValue)
        {
            Options = value.Value switch
            {
                DataPoolType.Wordlist => new WordlistDataPoolOptions()
                { WordlistId = selectedWordlist == null ? -1 : selectedWordlist.Id },
                DataPoolType.File => new FileDataPoolOptions(),
                DataPoolType.Range => new RangeDataPoolOptions(),
                DataPoolType.Combinations => new CombinationsDataPoolOptions(),
                DataPoolType.Infinite => new InfiniteDataPoolOptions(),
                _ => throw new NotImplementedException()
            };

            SetOptions.InvokeAsync(Options);
        }
    }

    private DataPoolType GetCurrentType()
    {
        return Options switch
        {
            WordlistDataPoolOptions _ => DataPoolType.Wordlist,
            FileDataPoolOptions _ => DataPoolType.File,
            RangeDataPoolOptions _ => DataPoolType.Range,
            CombinationsDataPoolOptions _ => DataPoolType.Combinations,
            InfiniteDataPoolOptions _ => DataPoolType.Infinite,
            _ => throw new NotImplementedException()
        };
    }

    async Task SelectWordlist()
    {
        var modal = Modal.Show<WordlistSelector>(Loc["SelectWordlist"]);
        var result = await modal.Result;

        if (!result.Cancelled)
        {
            selectedWordlist = result.Data as WordlistEntity;
            ((WordlistDataPoolOptions)Options).WordlistId = selectedWordlist.Id;
            await SetWordlist.InvokeAsync(selectedWordlist.Id);
        }
    }

    private async Task AddWordlist()
    {
        var modal = Modal.Show<WordlistAdd>(Loc["AddWordlist"]);
        var result = await modal.Result;

        if (!result.Cancelled)
        {
            var entity = result.Data as WordlistEntity;
            entity.Owner = await GuestRepo.Get(uid);
            await WordlistRepo.Add(entity);

            selectedWordlist = entity;
            ((WordlistDataPoolOptions)Options).WordlistId = selectedWordlist.Id;
            await SetWordlist.InvokeAsync(selectedWordlist.Id);
        }
    }
}
