@using RuriLib.Models.Blocks.Custom
@using RuriLib.Models.Blocks.Custom.Keycheck
@inject Microsoft.Extensions.Localization.IStringLocalizer<KeycheckBlockSettingsViewer> Loc

<EditForm Model="Block">
    <h6 class="font-weight-bold fg-custom">@Loc["Label"]:</h6>
    <InputText Value="@Block.Label" ValueExpression="@(() => Block.Label)"
               ValueChanged="@((value) => { Block.Label = value; ChangedLabel.InvokeAsync(EventArgs.Empty); })" />
</EditForm>

<h6 class="font-weight-bold fg-custom" style="margin-top: 20px;">@Loc["Settings"]:</h6>
@foreach (var setting in Block.Settings.Values)
{
    <BlockInputField BlockSetting="setting" />
    <hr />
}

<h6 class="font-weight-bold fg-custom" style="margin-top: 20px;">Keychains:</h6>
<div class="container-fluid">
    <div class="row">
        <div class="list-group list-group-horizontal">
            <button class="btn btn-sm btn-outline-success" @onclick="AddKeychain"><span class="oi oi-plus"></span></button>
        </div>
    </div>
    @foreach (var keychain in Block.Keychains)
    {
        <div class="row my-1">
            <KeycheckKeychain Keychain="keychain">
                <Buttons>
                    <button class="btn btn-sm btn-outline-primary" @onclick="@(() => MoveUp(keychain))"><span class="oi oi-arrow-top"></span></button>
                    <button class="btn btn-sm btn-outline-primary" @onclick="@(() => MoveDown(keychain))"><span class="oi oi-arrow-bottom"></span></button>
                    <button class="btn btn-sm btn-outline-danger" @onclick="@(() => Block.Keychains.Remove(keychain))"><span class="oi oi-x"></span></button>
                </Buttons>
            </KeycheckKeychain>
        </div>
    }
</div>

<br />
<BullettaHelp Title="@help1x00" Messages="new string[] { help1x01, help1x02 }" />

@code {
    [Parameter] public KeycheckBlockInstance Block { get; set; }
    [Parameter] public EventCallback ChangedLabel { get; set; }

    private string help1x00 => Loc["Help1x00"];
    private string help1x01 => Loc["Help1x01"];
    private string help1x02 => Loc["Help1x02"];

    private void AddKeychain()
    {
        Block.Keychains.Add(new Keychain());
    }

    private void MoveUp(Keychain keychain)
    {
        var index = Block.Keychains.IndexOf(keychain);

        if (index == 0)
            return;

        Block.Keychains.Remove(keychain);
        Block.Keychains.Insert(index - 1, keychain);
    }

    private void MoveDown(Keychain keychain)
    {
        var index = Block.Keychains.IndexOf(keychain);

        if (index == Block.Keychains.Count - 1)
            return;

        Block.Keychains.Remove(keychain);
        Block.Keychains.Insert(index + 1, keychain);
    }
}
