@using OpenBullet2.Models.Jobs
@using RuriLib.Models.Jobs
@using OpenBullet2.Shared.Forms
@using RuriLib.Models.Configs
@using RuriLib.Services
@inject RuriLibSettingsService RuriLibSettings
@inject IModalService Modal
@inject Microsoft.Extensions.Localization.IStringLocalizer<MultiRunOptions> Loc

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <label style="color: orange;">@Loc["StartCondition"]</label>
            <div style="margin-bottom: 20px;">
                <StartConditionSelector StartCondition="Options.StartCondition" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <EditForm Model="Options">
                <label style="color: orange;">@Loc["Config"]</label>
                @if (selectedConfig == null)
                {
                    <p>@Loc["NoConfigSelected"]</p>
                }
                else
                {
                    <div style="width: 55px; height: 55px; margin: 0 20px 0 20px;">
                        <img src="data:image/png;base64,@selectedConfig.Metadata.Base64Image" style="width: 100%; height: 100%;" />
                    </div>
                    <p>@selectedConfig.Metadata.Name @Loc["by"] @selectedConfig.Metadata.Author</p>
                }
                <button class="btn btn-primary" style="margin-bottom: 20px;" @onclick="SelectConfig">@Loc["SelectConfig"]</button>
                <br />
                <label style="margin-top: 15px;">@Loc["ProxyMode"]</label>
                <InputSelect @bind-Value="Options.ProxyMode">
                    @foreach (var name in Enum.GetNames(typeof(JobProxyMode)))
                    {
                        <option value="@name">@name</option>
                    }
                </InputSelect>
                <br />
                <div style="width: 100px;">
                    <label style="margin-top: 15px;">@Loc["Bots"]</label>
                    <InputNumber @bind-Value="Options.Bots" />
                </div>
                <div style="width: 100px;">
                    <label>@Loc["Skip"]</label>
                    <InputNumber @bind-Value="Options.Skip" />
                </div>
            </EditForm>
        </div>
        <div class="col">
            <label style="color: orange; margin-top: 20px;">@Loc["DataPool"]</label>
            <DataPoolSelector Options="Options.DataPool" SetOptions="((options) => Options.DataPool = options)" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label style="color: orange; margin-top: 20px;">@Loc["ProxySources"]</label>
            <ProxySourceSelector ProxySources="Options.ProxySources" />
        </div>
        <div class="col">
            <label style="color: orange; margin-top: 20px;">@Loc["HitOutputs"]</label>
            <HitOutputsSelector HitOutputs="Options.HitOutputs" />
        </div>
    </div>
</div>

@code {
    [Parameter] public MultiRunJobOptions Options { get; set; }
    Config selectedConfig;

    async Task SelectConfig()
    {
        var modal = Modal.Show<ConfigSelector>(Loc["SelectConfig"]);
        var result = await modal.Result;

        if (!result.Cancelled)
        {
            selectedConfig = result.Data as Config;
            Options.ConfigId = selectedConfig.Id;
        }
    }
}