@using RuriLib.Models.Jobs.Threading
@using OpenBullet2.Models.Hits
@using RuriLib.Models.Hits.HitOutputs 
@using RuriLib.Models.Proxies.ProxySources 
@using RuriLib.Models.Data.DataPools 
@using OpenBullet2.Models.Proxies.Sources 
@using System.Globalization
@using RuriLib.Models.Hits; 
@inject Microsoft.Extensions.Localization.IStringLocalizer<MultiRunJobViewer> Loc

<div>
    <p style="color: orange;"><b>@Loc["JobOptions"]</b></p>
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">@Loc["Config"]</th>
                <td>@Job.Config.Metadata.Name @Loc["by"] @Job.Config.Metadata.Author</td>
            </tr>
            <tr>
                <th scope="row">@Loc["DataPool"]</th>
                <td>
                    @switch (Job.DataPool)
                    {
                        case WordlistDataPool x:
                            <span>@Loc["Wordlist"]: @x.Wordlist.Name</span>
                            break;

                        case FileDataPool x:
                            <span>@Loc["File"]: @x.FileName</span>
                            break;

                        case InfiniteDataPool x:
                            <span>@Loc["InfiniteDataPool"]</span>
                            break;

                        case CombinationsDataPool x:
                            <span>@string.Format(Loc["CombinationsText"], x.CharSet, x.Length)</span>
                            break;

                        case RangeDataPool x:
                            <span>@string.Format(Loc["RangeText"], x.Start, x.Amount, x.Step, x.Pad)</span>
                            break;
                    }
                </td>
            </tr>
            <tr>
                <th scope="row">@Loc["ProxySources"]</th>
                <td>
                    @foreach (var source in Job.ProxySources)
                    {
                        <p>
                            @switch (source)
                            {
                                case GroupProxySource x:
                                    <span style="color: aquamarine;">@Loc["Group"]: @x.GroupId</span>
                                    break;

                                case FileProxySource x:
                                    <span style="color: greenyellow;">@Loc["File"]: @x.FileName</span>
                                    break;

                                case RemoteProxySource x:
                                    <span style="color: hotpink;">@Loc["Remote"]: @x.Url</span>
                                    break;
                            }
                        </p>
                    }
                </td>
            </tr>
            <tr>
                <th scope="row">@Loc["ProxyMode"]</th>
                <td>@Job.ProxyMode</td>
            </tr>
            <tr>
                <th scope="row">@Loc["HitOutputs"]</th>
                <td>
                    @foreach (var output in Job.HitOutputs)
                    {
                        <p>
                            @switch (output)
                            {
                                case DatabaseHitOutput x:
                                    <span style="color: aquamarine;">@Loc["Database"]</span>
                                    break;

                                case FileSystemHitOutput x:
                                    <span style="color: greenyellow;">@Loc["FileSystem"] (@x.BaseDir)</span>
                                    break;

                                case DiscordWebhookHitOutput x:
                                    <span style="color: hotpink;">@Loc["DiscordWebhook"] (@x.Webhook.Substring(0, 70) ...)</span>
                                    break;
                            }
                        </p>
                    }
                </td>
            </tr>
            <tr>
                <th scope="row">@Loc["Skip"]</th>
                <td>@Job.Skip</td>
            </tr>
            <tr>
                <th scope="row">@Loc["Bots"]</th>
                <td>
                    <span style="margin-right: 10px;">@Job.Bots</span>
                    @if (!changingBots)
                    {
                        <button class="btn btn-sm btn-outline-primary" type="button" @onclick="ChangeBots"> @Loc["Change"]</button>
                    }
                    else
                    {
                        <span><i>@Loc["ChangingPleaseWait"]</i></span>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>

<p style="color: orange;"><b>@Loc["Controls"]</b></p>
<div class="list-group list-group-horizontal">
    @switch (Job.Status)
    {
        case TaskManagerStatus.Idle:
            <button class="btn btn-sm btn-outline-success" @onclick="Start"><span class="oi oi-media-play"></span> @Loc["Start"]</button>
            break;

        case TaskManagerStatus.Paused:
            <button class="btn btn-sm btn-outline-success" @onclick="Resume"><span class="oi oi-media-play"></span> @Loc["Resume"]</button>
            break;

        case TaskManagerStatus.Running:
            <button class="btn btn-sm btn-outline-warning" @onclick="Pause"><span class="oi oi-media-pause"></span> @Loc["Pause"]</button>
            <button class="btn btn-sm btn-outline-danger" @onclick="Stop"><span class="oi oi-media-stop"></span> @Loc["Stop"]</button>
            <button class="btn btn-sm btn-outline-danger" @onclick="Abort"><span class="oi oi-x"></span> @Loc["Abort"]</button>
            break;

        case TaskManagerStatus.Pausing:
            <span><i>@Loc["PausingMessage"]</i></span>
            break;

        case TaskManagerStatus.Stopping:
            <span style="line-height: 30px; margin-top: 5px;"><i>@Loc["Stopping message"] </i></span>
            <button class="btn btn-sm btn-outline-danger" @onclick="Abort"><span class="oi oi-x"></span> @Loc["Abort"]</button>
            break;
    }
</div>

@if (Job.Manager != null)
{
    <div class="progress mt-3">
        <div class="progress-bar" role="progressbar"
                style="width: @((Job.Manager.Progress * 100).ToString("0", CultureInfo.InvariantCulture))%"></div>
    </div>
}

<div class="container-fluid pl-0 pr-0 mt-3 mb-3">
    <div class="row">
        <div class="col">
            <span style="font-weight: bold; text-decoration: underline;">@Loc["DataStats"]</span><br /><br />
            <span style="font-weight: bold;">@Loc["Tested"]: </span><span>@Job.DataTested</span><br />
            <span class="fg-hit" style="font-weight: bold;">@Loc["Hits"]: </span><span style="color: greenyellow;">@Job.DataHits</span><br />
            <span style="font-weight: bold; color: orange;">@Loc["Custom"]: </span><span style="color: orange;">@Job.DataCustom</span><br />
            <span style="font-weight: bold; color: tomato;">@Loc["Bad"]: </span><span style="color: tomato;">@Job.DataBad</span><br />
            <span style="font-weight: bold; color: yellow;">@Loc["Retried"]: </span><span style="color: yellow;">@Job.DataRetried</span><br />
            <span style="font-weight: bold; color: plum;">@Loc["Banned"]: </span><span style="color: plum;">@Job.DataBanned</span><br />
            <span style="font-weight: bold; color: skyblue;">@Loc["ToCheck"]: </span><span style="color: skyblue;">@Job.DataToCheck</span><br />
            <span style="font-weight: bold; color: red;">@Loc["Errors"]: </span><span style="color: red;">@Job.DataErrors</span><br />
        </div>
        <div class="col">
            <span style="font-weight: bold; text-decoration: underline;">@Loc["ProxyStats"]</span><br /><br />
            <span style="font-weight: bold;">@Loc["Total"]: </span><span>@Job.ProxiesTotal</span><br />
            <span style="font-weight: bold; color: greenyellow;">@Loc["Alive"]: </span><span style="color: greenyellow;">@Job.ProxiesAlive</span><br />
            <span style="font-weight: bold; color: tomato;">@Loc["Bad"]: </span><span style="color: tomato;">@Job.ProxiesBad</span><br />
            <span style="font-weight: bold; color: plum;">@Loc["Banned"]: </span><span style="color: plum;">@Job.ProxiesBanned</span><br />
        </div>
        @if (Job.Manager != null)
        {
            <div class="col">
                <span style="font-weight: bold; text-decoration: underline;">@Loc["OtherStats"]</span><br /><br />
                <span style="font-weight: bold;">@Loc["CPM"]: </span><span>@Job.Manager.CPM</span><br />
                <span style="font-weight: bold;">@Loc["CaptchaCredit"]: </span><span>@Job.CaptchaCredit</span><br />
                <span style="font-weight: bold;">@Loc["Elapsed"]: </span><span>@((int)Job.Manager.Elapsed.TotalDays) @Loc["days"] @Job.Manager.Elapsed.ToString(@"hh\:mm\:ss")</span><br />
                <span style="font-weight: bold;">@Loc["Remaining"]: </span><span>@((int)Job.Manager.Remaining.TotalDays) @Loc["days"] @Job.Manager.Remaining.ToString(@"hh\:mm\:ss")</span><br />
                <span style="font-weight: bold;">@Loc["Progress"]: </span><span> @Job.DataTested / @Job.DataPool.Size (@((Job.Manager.Progress * 100).ToString("0.00"))%)</span>
            </div>
        }
        else
        {
            <div class="col">
                <span style="font-weight: bold; text-decoration: underline;">@Loc["OtherStats"]</span><br /><br />
                <span style="font-weight: bold;">@Loc["CPM"]: </span><span>-</span><br />
                <span style="font-weight: bold;">@Loc["CaptchaCredit"]: </span><span>-</span><br />
                <span style="font-weight: bold;">@Loc["Elapsed"]: </span><span>-</span><br />
                <span style="font-weight: bold;">@Loc["Remaining"]: </span><span>-</span><br />
                <span style="font-weight: bold;">@Loc["Progress"]: </span><span>-</span><br />
            </div>
        }
    </div>
</div>

<GenericLogger JobId="Job.Id" />

<div class="container-fluid">
    <div class="row">
        <div class="list-group list-group-horizontal">
            <button class="btn btn-sm btn-outline-primary" @onclick="CopyHitDataCapture"><span class="oi oi-layers"></span> @Loc["CopyDataCapture"]</button>
            <button class="btn btn-sm btn-outline-primary" @onclick="SendToDebugger"><span class="oi oi-chevron-right"></span> @Loc["SendToDebugger"]</button>
            <button class="btn btn-sm btn-outline-primary" @onclick="ShowFullLog"><span class="oi oi-excerpt"></span> @Loc["ShowFullLog"]</button>
        </div>
    </div>
</div>

<RadzenGrid @ref="hitsGrid" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
            AllowPaging="false" PageSize="30"
            AllowSorting="true" Data="@Job.Hits" TItem="Hit" ColumnWidth="200px"
            RowSelect="SelectHit" EmptyText="@Loc["NoRecordsToDisplay"]">
    <Columns>
        <RadzenGridColumn TItem="Hit" Property="Date" Title="@Loc["Date"]" />
        <RadzenGridColumn TItem="Hit" Property="DataString" Title="@Loc["Data"]" />
        <RadzenGridColumn TItem="Hit" Property="Proxy" Title="@Loc["Proxy"]" />
        <RadzenGridColumn TItem="Hit" Property="Type" Title="@Loc["Type"]" />
        <RadzenGridColumn TItem="Hit" Property="CapturedDataString" Title="@Loc["CapturedData"]"
                          Width="@CaptureWidth" CssClass="grid-column-dynamic-width" />
    </Columns>
</RadzenGrid>