@using OpenBullet2.Helpers
@using RuriLib.Models.Configs
@using System.Globalization
@using OpenBullet2.Repositories
@using OpenBullet2.Shared.Forms 
@inject IConfigRepository ConfigRepo
@inject OpenBullet2.Services.ConfigService ConfigService
@inject IModalService Modal
@inject Microsoft.Extensions.Localization.IStringLocalizer<NavMenu> Loc

<div class="top-row pl-4 navbar navbar-dark" style="padding-left: 0.5rem !important;">
    <div class="container-fluid" style="margin-left: -5px;">
        <a href="">
            <img src="logohq.png" style="height: 60px; margin-left: 14px;" />
        </a>
        <div class="text-right d-none d-md-block" style="position: absolute; height: 20px; width: 20px; right: 15px;">
            <span class="oi oi-menu text-white" style="cursor: pointer;" @onclick="(() => ToggleSidebar())"></span>
        </div>
    </div>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @Loc["Home"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="jobs">
                <span class="oi oi-pulse" aria-hidden="true"></span> @Loc["Jobs"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="monitor">
                <span class="oi oi-eye" aria-hidden="true"></span> @Loc["Monitor"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="proxies/groups">
                <span class="oi oi-shield" aria-hidden="true"></span> @Loc["Proxies"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wordlists">
                <span class="oi oi-align-left" aria-hidden="true"></span> @Loc["Wordlists"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="hits">
                <span class="oi oi-bolt" aria-hidden="true"></span> @Loc["Hits"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="configs">
                <span class="oi oi-cog" aria-hidden="true"></span> @Loc["Configs"]
            </NavLink>
        </li>
        @if (displayConfigSubmenu)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="config/edit/metadata">
                    <span class="oi oi-ellipses ml-4" aria-hidden="true"></span> @Loc["Metadata"]
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="config/edit/readme">
                    <span class="oi oi-pencil ml-4" aria-hidden="true"></span> @Loc["Readme"]
                </NavLink>
            </li>

            @if (displayStackerSubmenu)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="config/edit/stacker">
                        <span class="oi oi-menu ml-4" aria-hidden="true"></span> @Loc["Stacker"]
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="config/edit/lolicode">
                        <span class="oi oi-code ml-4" aria-hidden="true"></span> @Loc["LoliCode"]
                    </NavLink>
                </li>
            }

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="config/edit/settings">
                    <span class="oi oi-wrench ml-4" aria-hidden="true"></span> @Loc["Settings"]
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="config/edit/code">
                    <span class="oi oi-code ml-4" aria-hidden="true"></span> @Loc["CSharpCode"]
                </NavLink>
            </li>
            <li class="nav-item px-3" style="width: 100%;">
                <button type="button" class="btn btn-outline-success" style="width: 100%" @onclick="SaveConfig">
                    <span class="oi oi-task" aria-hidden="true" style="margin-top: 5px;"></span> @Loc["SaveConfig"]
                </button>
            </li>
        }

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings/rurilib">
                <span class="oi oi-wrench" aria-hidden="true"></span> @Loc["RLSettings"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings/openbullet">
                <span class="oi oi-wrench" aria-hidden="true"></span> @Loc["OBSettings"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="guests">
                <span class="oi oi-person" aria-hidden="true"></span> @Loc["Guests"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="plugins">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> @Loc["Plugins"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sharing">
                <span class="oi oi-share" aria-hidden="true"></span> @Loc["Sharing"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-info" aria-hidden="true"></span> @Loc["About"]
            </NavLink>
        </li>
        <li class="d-md-none text-center mb-3">
            <img class="culture-flag-small" @onclick="ChangeLanguage" src="images/flags/@(CultureInfo.CurrentCulture.Name).png" />
            <span class="ml-2 version-label">@version</span>
        </li>
    </ul>
</div>

<div class="float-left text-center mb-3 d-none d-md-block" style="width: 100%; position: absolute; bottom: 0px;">
    <div class="footer-buttons">
        <img class="culture-flag-small" @onclick="ChangeLanguage" src="images/flags/@(CultureInfo.CurrentCulture.Name).png" />
        <a href="https://github.com/openbullet/OpenBullet2/issues"><span class="oi oi-bug"></span></a>
    </div>
    <span class="version-label">@version</span>
</div>

@code {
    private readonly string version = "v0.0.1 [Alpha]";
    private bool collapseNavMenu = true;
    private bool displayConfigSubmenu = false;
    private bool displayStackerSubmenu = true;
    private bool sidebarExpanded = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        try { ConfigService.OnConfigSelected -= OnConfigSelected; } catch { }

        ConfigService.OnConfigSelected += OnConfigSelected;
        OnConfigSelected(this, ConfigService.SelectedConfig);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async void OnConfigSelected(object sender, Config config)
    {
        displayConfigSubmenu = config != null;
        displayStackerSubmenu = config != null && config.Mode != ConfigMode.CSharp;
        await InvokeAsync(StateHasChanged);
    }

    private async Task SaveConfig()
    {
        if (ConfigService.SelectedConfig == null)
        {
            await js.AlertError(Loc["Uh-Oh"], Loc["NoConfigSelected"]);
            return;
        }

        // Check if the LoliCode is valid
        if (ConfigService.SelectedConfig.Mode == ConfigMode.LoliCode)
        {
            try
            {
                new RuriLib.Helpers.Transpilers.Loli2StackTranspiler().Transpile(ConfigService.SelectedConfig.LoliCodeScript);
            }
            catch (Exception ex)
            {
                await js.AlertError(Loc["InvalidLolicode"], ex.Message);
                return;
            }
        }

        await ConfigRepo.Save(ConfigService.SelectedConfig);
        await js.AlertSuccess(Loc["AwwYeah"], $"{ConfigService.SelectedConfig.Metadata.Name} {Loc["wasSavedSuccessfully"]}");
    }

    void ChangeLanguage()
    {
        Modal.Show<CultureSelector>(Loc["ChooseYourLanguage"]);
    }

    async Task ToggleSidebar()
    {
        if (sidebarExpanded)
        {
            sidebarExpanded = false;
            await js.InvokeVoidAsync("setSidebarMargin", "-200px");
        }
        else
        {
            sidebarExpanded = true;
            await js.InvokeVoidAsync("setSidebarMargin", "0px");
        }
    }
}
