@using RuriLib.Models.Blocks.Custom
@inject Microsoft.Extensions.Localization.IStringLocalizer<NodeJSBlockSettingsViewer> Loc

<EditForm Model="Block">
    <h6 class="font-weight-bold fg-custom">@Loc["Label"]:</h6>
    <InputText Value="@Block.Label" ValueExpression="@(() => Block.Label)"
               ValueChanged="@((value) => { Block.Label = value; ChangedLabel.InvokeAsync(EventArgs.Empty); })" />
</EditForm>

<EditForm Model="Block">
    <h6 class="font-weight-bold fg-custom" style="margin-top: 20px;">@Loc["OutputVariable"] (@Block.ReturnType)):</h6>
    <InputText @bind-Value="Block.OutputVariable" />
    <label>@Loc["IsCapture"]</label>
    <InputCheckbox @bind-Value="Block.IsCapture" />
    <br />
</EditForm>

<h6 class="font-weight-bold fg-custom" style="margin-top: 20px;">@Loc["Settings"]:</h6>

<EditForm Model="Block">
    <label>@Loc["Variables"]</label>
    <InputText @bind-Value="Block.Variables" />
    <label>@Loc["ReturnType"]</label>
    <InputSelect @bind-Value="Block.ReturnType">
        @foreach (var type in Enum.GetNames(typeof(RuriLib.Models.Variables.VariableType)))
        {
            <option value="@type">@type</option>
        }
    </InputSelect>
    <br />
</EditForm>

<MonacoEditor @ref="_editor" Id="js-editor" ConstructionOptions="EditorConstructionOptions" OnKeyUp="SaveScript" OnDidPaste="SaveScript" />

@code {
    [Parameter] public NodeJSBlockInstance Block { get; set; }
    [Parameter] public EventCallback ChangedLabel { get; set; }
    private MonacoEditor _editor { get; set; }

    private StandaloneEditorConstructionOptions EditorConstructionOptions(MonacoEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            AutomaticLayout = true,
            Minimap = new MinimapOptions { Enabled = false },
            Theme = "vs-dark",
            Language = "javascript",
            Value = Block.Script,
            MatchBrackets = true
        };
    }

    private async Task SaveScript()
    {
        Block.Script = await _editor.GetValue();
    }
}
