@using OpenBullet2.Models.Proxies
@using OpenBullet2.Entities 
@inject IProxyGroupRepository ProxyGroupRepo
@inject Microsoft.Extensions.Localization.IStringLocalizer<ProxySourceSelector> Loc

<div class="container-fluid">

    <div class="row mb-3">
        <div class="list-group list-group-horizontal">
            <button class="btn-sm btn-primary m-sm-1" @onclick="AddGroup">
                <span class="oi oi-plus"></span> @Loc["Group"]
            </button>
            <button class="btn-sm btn-primary m-sm-1" @onclick="AddFile">
                <span class="oi oi-plus"></span> @Loc["File"]
            </button>
            <button class="btn-sm btn-primary m-sm-1" @onclick="AddRemote">
                <span class="oi oi-plus"></span> @Loc["Remote"]
            </button>
        </div>
    </div>

    @foreach (var source in ProxySources)
    {
        <div class="row" style="margin-bottom: 15px;">
            <EditForm Model="source">
                @switch (source)
                {
                    case GroupProxySourceOptions x:
                        <div class="row">
                            <div class="col-sm-auto mr-0 pr-0">
                                <label style="line-height: 30px; color: aquamarine;">@Loc["Group"]</label>
                            </div>
                            <div class="col">
                                <InputSelectNumber T="int" @bind-Value="x.GroupId">
                                    <option value="-1">@Loc["All"]</option>
                                    @foreach (var group in groups)
                                    {
                                        <option value="@group.Id">@group.Name</option>
                                    }
                                </InputSelectNumber>
                            </div>
                            <div class="col-sm-auto ml-0 pr-0">
                                <button class="btn-sm btn-danger" @onclick="(() => ProxySources.Remove(source))">
                                    <span class="oi oi-x"></span> @Loc["Remove"]
                                </button>
                            </div>
                        </div>
                        
                        break;

                    case FileProxySourceOptions x:
                        <div class="row">
                            <div class="col-sm-auto mr-0 pr-0">
                                <label style="line-height: 30px; color: greenyellow;">@Loc["FileName"]</label>
                            </div>
                            <div class="col">
                                <InputText @bind-Value="x.FileName" />
                            </div>
                            <div class="col-sm-auto ml-0 pr-0">
                                <InputSelect @bind-Value="x.DefaultType">
                                    @foreach (var type in Enum.GetNames(typeof(RuriLib.Models.Proxies.ProxyType)))
                                    {
                                        <option value="@type">@type</option>
                                    }
                                </InputSelect>
                            </div>
                            <div class="col-sm-auto ml-0 pr-0">
                                <button class="btn-sm btn-danger" @onclick="(() => ProxySources.Remove(source))">
                                    <span class="oi oi-x"></span> @Loc["Remove"]
                                </button>
                            </div>
                        </div>
                        break;

                    case RemoteProxySourceOptions x:
                        <div class="row">
                            <div class="col-sm-auto mr-0 pr-0">
                                <label style="line-height: 30px; color: hotpink;">@Loc["Url"]</label>
                            </div>
                            <div class="col">
                                <InputText @bind-Value="x.Url" />
                            </div>
                            <div class="col-sm-auto ml-0 pr-0">
                                <InputSelect @bind-Value="x.DefaultType">
                                    @foreach (var type in Enum.GetNames(typeof(RuriLib.Models.Proxies.ProxyType)))
                                    {
                                        <option value="@type">@type</option>
                                    }
                                </InputSelect>
                            </div>
                            <div class="col-sm-auto ml-0 pr-0">
                                <button class="btn-sm btn-danger" @onclick="(() => ProxySources.Remove(source))">
                                    <span class="oi oi-x"></span> @Loc["Remove"]
                                </button>
                            </div>
                        </div>
                        break;
                }
            </EditForm>
        </div>
    }
</div>

@code {
    [Parameter] public List<ProxySourceOptions> ProxySources { get; set; }
    List<ProxyGroupEntity> groups;

    protected override async Task OnInitializedAsync()
    {
        groups = await ProxyGroupRepo.GetAll().ToListAsync();
    }

    void AddGroup()
    {
        ProxySources.Add(new GroupProxySourceOptions());
    }

    void AddFile()
    {
        ProxySources.Add(new FileProxySourceOptions());
    }

    void AddRemote()
    {
        ProxySources.Add(new RemoteProxySourceOptions());
    }
}
