@using OpenBullet2.Models.Settings

<EditForm Model="Setting">
    <div class="form-group" style="text-align: left;">
        @switch (Setting)
        {
            case StringSetting x:
                <InputText @bind-Value="@x.Value" />
                break;

            case BoolSetting x:
                <InputCheckbox @bind-Value="@x.Value" />
                break;

            case IntSetting x:
                <InputNumber @bind-Value="@x.Value" />
                break;

            case EnumSetting x:
                <InputSelect @bind-Value="@x.Value">
                    @foreach (var name in Enum.GetNames(x.EnumType))
                    {
                        <option value="@name">@name</option>
                    }
                </InputSelect>
                break;

            case FloatSetting x:
                <InputNumber @bind-Value="@x.Value" />
                break;

            case ListOfStringsSetting x:
                <InputListOfStrings @bind-List="x.Value" />
                break;

            case DictionaryOfStringsSetting x:
                <InputDictionaryOfStrings @bind-Dictionary="x.Value" />
                break;
        }

    </div>
</EditForm>

@code {
    [Parameter] public Setting Setting { get; set; }
}
