@inject Microsoft.Extensions.Localization.IStringLocalizer<StackViewer> Loc

<div class="list-group list-group-horizontal mb-1">
    <button class="btn btn-sm btn-outline-success" @onclick="AddBlock" title="@Loc["Add"]"><span class="oi oi-plus"></span></button>
    <button class="btn btn-sm btn-outline-danger" @onclick="DeleteSelectedBlocks" title="@Loc["Delete"]"><span class="oi oi-x"></span></button>
    <button class="btn btn-sm btn-outline-primary" @onclick="MoveBlocksUp" title="@Loc["Up"]"><span class="oi oi-arrow-top"></span></button>
    <button class="btn btn-sm btn-outline-primary" @onclick="MoveBlocksDown" title="@Loc["Down"]"><span class="oi oi-arrow-bottom"></span></button>
</div>
<div class="list-group list-group-horizontal mb-1">
    <button class="btn btn-sm btn-outline-secondary" @onclick="CloneBlocks" title="@Loc["Clone"]"><span class="oi oi-layers"></span></button>
    <button class="btn btn-sm btn-outline-secondary" @onclick="DisableBlocks" title="@Loc["Enable"]/@Loc["Disable"]"><span class="oi oi-ban"></span></button>
    <button class="btn btn-sm btn-outline-secondary" @onclick="Undo" title="@Loc["Undo"]"><span class="oi oi-action-undo"></span></button>
</div>

<div style="overflow-y: auto; max-height: 700px;">
    @foreach (var block in Stack)
    {
        <div draggable="true" class="card stacker-block"
             style="background-color: @(block.Disabled ? "#666" : block.Descriptor.Category.BackgroundColor);
             color: @block.Descriptor.Category.ForegroundColor; 
             border: solid 3px @(selectedBlocks.Contains(block) ? "var(--fg-primary)" : "var(--bg-secondary)");"
             @ondragstart="@(() => HandleDragStart(block))"
             @ondragover="@(() => HandleDragOver(block))"
             @onclick="@((e) => SelectBlock(block, e))">
            <div class="card-body stacker-block-body">
                <span class="card-text @(selectedBlocks.Contains(block) ? "font-weight-bold" : "")"
                      style="color: @block.Descriptor.Category.ForegroundColor;">
                    @block.Label
                </span>
            </div>
        </div>
    }
</div>
