@using RuriLib.Helpers
@using RuriLib.Models.Blocks  
@inject Microsoft.Extensions.Localization.IStringLocalizer<StackViewer> Loc

<div class="list-group list-group-horizontal">
    <button class="btn btn-sm btn-outline-danger" @onclick="DeleteSelectedBlock"><span class="oi oi-x"></span> @Loc["Delete"]</button>
    <button class="btn btn-sm btn-outline-primary" @onclick="MoveBlockUp"><span class="oi oi-arrow-top"></span> @Loc["Up"]</button>
    <button class="btn btn-sm btn-outline-primary" @onclick="MoveBlockDown"><span class="oi oi-arrow-bottom"></span> @Loc["Down"]</button>
</div>
<div class="list-group list-group-horizontal">
    <button class="btn btn-sm btn-outline-secondary" @onclick="CloneBlock"><span class="oi oi-layers"></span> @Loc["Clone"]</button>
    <button class="btn btn-sm btn-outline-secondary" @onclick="DisableBlock"><span class="oi oi-ban"></span> @Loc[selectedBlock != null && selectedBlock.Disabled ? "Enable" : "Disable"]</button>
    <button class="btn btn-sm btn-outline-secondary" @onclick="Undo"><span class="oi oi-action-undo"></span> @Loc["Undo"]</button>
</div>

@foreach (var block in Stack)
{
    <div draggable="true" class="card"
         style="background-color: @(block.Disabled ? "#666" : block.Descriptor.Category.BackgroundColor); 
         color: @block.Descriptor.Category.ForegroundColor; 
         cursor: pointer; border: solid 3px #000; text-align: center; font-size: 20px;"
         @ondragstart="@(() => HandleDragStart(block))"
         @ondragover="@(() => HandleDragOver(block))"
         @onclick="@(() => SelectBlock(block))">
        <div class="card-body">
            <span class="card-text @(block == selectedBlock ? "font-weight-bold" : "")"
                  style="color: @block.Descriptor.Category.ForegroundColor;">
                @block.Label
            </span>
        </div>
    </div>
}

@code {
    [Parameter] public List<BlockInstance> Stack { get; set; }
    [Parameter] public List<(BlockInstance, int)> DeletedBlocks { get; set; }
    [Parameter] public EventCallback<BlockInstance> SelectedBlock { get; set; }
    private BlockInstance draggedItem;
    private BlockInstance selectedBlock;

    public void RefreshView()
    {
        StateHasChanged();
    }

    private void HandleDragStart(BlockInstance item)
    {
        draggedItem = item;
    }

    private void HandleDragOver(BlockInstance item)
    {
        if (!item.Equals(draggedItem))
        {
            Stack.Remove(draggedItem);
            Stack.Insert(Stack.IndexOf(item) + 1, draggedItem);
        }
    }

    private void SelectBlock(BlockInstance item)
    {
        selectedBlock = item;
        SelectedBlock.InvokeAsync(item);
    }

    private void DeleteSelectedBlock()
    {
        if (selectedBlock == null)
            return;

        DeletedBlocks.Add((selectedBlock, Stack.IndexOf(selectedBlock)));
        Stack.Remove(selectedBlock);
        SelectBlock(null);
    }

    private void Undo()
    {
        if (DeletedBlocks.Count == 0)
            return;

        var toRestore = DeletedBlocks.Last();
        DeletedBlocks.Remove(toRestore);

        if (Stack.Count >= toRestore.Item2)
        {
            Stack.Insert(toRestore.Item2, toRestore.Item1);
        }
        else
        {
            Stack.Add(toRestore.Item1);
        }
    }

    private void DisableBlock()
    {
        if (selectedBlock == null)
            return;

        selectedBlock.Disabled = !selectedBlock.Disabled;
    }

    private void MoveBlockUp()
    {
        if (selectedBlock == null)
            return;

        var index = Stack.IndexOf(selectedBlock);

        if (index == 0)
            return;

        Stack.Remove(selectedBlock);
        Stack.Insert(index - 1, selectedBlock);
    }

    private void MoveBlockDown()
    {
        if (selectedBlock == null)
            return;

        var index = Stack.IndexOf(selectedBlock);

        if (index == Stack.Count - 1)
            return;

        Stack.Remove(selectedBlock);
        Stack.Insert(index + 1, selectedBlock);
    }

    private void CloneBlock()
    {
        if (selectedBlock == null)
            return;

        var newBlock = Cloner.Clone(selectedBlock);
        Stack.Insert(Stack.IndexOf(selectedBlock) + 1, newBlock);
    }
}
