@using RuriLib.Models.Variables
@inject VolatileSettingsService VolatileSettings
@inject Microsoft.Extensions.Localization.IStringLocalizer<VariablesViewer> Loc

<h5>@Loc["Variables"]</h5>
<div class="debugger-log">
    @foreach (var variable in variables)
    {
        <p style="color: @(variable.MarkedForCapture ? "tomato" : "yellow");">
            @variable.Name (@variable.Type) = @variable.AsString();
        </p>
    }
</div>

@code {
    private List<Variable> variables;

    protected override void OnInitialized()
    {
        variables = VolatileSettings.DebuggerOptions.Variables;
    }

    public void Refresh()
    {
        StateHasChanged();
    }
}