@page "/about"
@using OpenBullet2.Shared.Forms
@inject Microsoft.Extensions.Localization.IStringLocalizer<About> Loc
@inject IModalService Modal

<h5 class="fg-fail">@Loc["Disclaimer"]</h5>
<p class="fg-fail mb-3">@Loc["DisclaimerText"]</p>

<table class="table">
    <tbody>
        <tr>
            <th scope="row">@Loc["Developer"]</th>
            <td>Ruri</td>
        </tr>
        <tr>
            <th scope="row">@Loc["Collaborators"]</th>
            <td>demiurgo, meinname</td>
        </tr>
        <tr>
            <th scope="row">@Loc["AlphaTesters"]</th>
            <td>CιdᥱR™, Flix88, kurosaki ichigo</td>
        </tr>
        <tr>
            <th scope="row">@Loc["BetaTesters"]</th>
            <td>B1rdY, Br4uN, Fairy, FFaez1267, Itamai, Laiteux, Pure, Why001, Wicha</td>
        </tr>
        <tr>
            <th scope="row">@Loc["Translators"]</th>
            <td>Br4uN (es), Choempie (nl), dEath (tr), Fairy (fr), Laiteux (fr), ManoPlayBRL (pt), meinname (de), Ruri (en, it), Ruzzlzz (ro)</td>
        </tr>
        <tr>
            <th scope="row">@Loc["OfficialForum"]</th>
            <td><a href="https://discourse.openbullet.dev/">discourse.openbullet.dev</a></td>
        </tr>
        <tr>
            <th scope="row">@Loc["OfficialRepository"]</th>
            <td><a href="https://github.com/openbullet/OpenBullet2/">github.com/openbullet/OpenBullet2</a></td>
        </tr>
        <tr>
            <th scope="row">@Loc["License"]</th>
            <td><span class="mr-3">MIT</span><button class="btn btn-sm btn-outline-primary" @onclick="ShowLicense">@Loc["Read"]</button></td>
        </tr>
    </tbody>
</table>

<div class="mb-3">
    <a href="https://en.cryptobadges.io/donate/39yMkox6pP8tnSC7rZ5EM4nUUHgPbg1fKM">
        <img src="https://en.cryptobadges.io/badge/small/39yMkox6pP8tnSC7rZ5EM4nUUHgPbg1fKM" alt="Donate BTC" />
    </a>
    <br />
    <a href="https://en.cryptobadges.io/donate/0xc22116Bcf6c30977bEdFcc03C5B6aAe90B0fD179">
        <img src="https://en.cryptobadges.io/badge/small/0xc22116Bcf6c30977bEdFcc03C5B6aAe90B0fD179" alt="Donate ETH" />
    </a>
    <br />
    <span><b>Donate BCH: </b>qq02mrtdp454g2zdu534ndpu7jgcr3tvavyzs60m3p</span>
</div>

<h5>@Loc["DonatorsAndSupporters"]</h5>
<div class="p-2 mb-3" style="background-color: black;">
    <div style="color: gold;">
        <span>1. FFaez1267</span><br />
        <span>2. James | Lisse</span><br />
        <span>3. Ikamai</span><br />
    </div>
    <div style="color: silver;">
        <span>4. TheFiendQQ</span><br />
        <span>5. Spic</span><br />
        <span>6. mastercho</span><br />
        <span>7. Crackdealer</span><br />
        <span>8. B1rdY</span><br />
        <span>9. moon.Man</span><br />
        <span>10. Laiteux</span><br />
    </div>
    <div style="color: #cd7f32;">
        <span>11. HarveyS</span><br />
        <span>12. Rael</span><br />
        <span>13. boggy94</span><br />
        <span>14. Pegasus</span><br />
        <span>15. Phantøm</span><br />
        <span>16. Joey</span><br />
        <span>17. dew88</span><br />
        <span>18. ManoPlayBRL</span><br />
        <span>19. Barmoley</span><br />
        <span>20. Kurosaki Ichigo</span><br />
        <span>21. Pool</span><br />
        <span>22. k4k4r0to</span><br />
        <span>23. Finlay1010</span><br />
        <span>24. n00biE</span><br />
        <span>25. Patch</span><br />
        <span>26. kaatil</span><br />
        <span>27. Speeedyyyy</span><br />
        <span>28. AccountMast3r</span><br />
        <span>29. Ruzzlzz</span><br />
        <span>30. Itamai</span><br />
        <span>31. alexparkin</span><br />
        <span>32. MadmanDev</span><br />
        <span>33. Plog</span><br />
        <span>34. dankmemes43</span><br />
        <span>35. Fr00tl00ps | Lisse</span><br />
    </div>
</div>

@code {

    private void ShowLicense()
    {
        Modal.Show<License>(Loc["License"]);
    }
}
