@page "/about"
@using OpenBullet2.Shared.Forms
@inject Microsoft.Extensions.Localization.IStringLocalizer<About> Loc
@inject IModalService Modal

<h5 class="fg-fail">@Loc["Disclaimer"]</h5>
<p class="fg-fail mb-3">@Loc["DisclaimerText"]</p>

<table class="table">
    <tbody>
        <tr>
            <th scope="row">@Loc["Developer"]</th>
            <td><span style="color: lightpink;">Ruri</span></td>
        </tr>
        <tr>
            <th scope="row">@Loc["Collaborators"]</th>
            <td>demiurgo, <img src="images/credits/meinname.gif" style="height: 18px;" /></td>
        </tr>
        <tr>
            <th scope="row">@Loc["AlphaTesters"]</th>
            <td><img src="images/credits/cider.gif" style="margin: -2px 0 1px 0; height: 16px;" />, Flix88, <span style="color: #f00">kurosaki ichigo</span></td>
        </tr>
        <tr>
            <th scope="row">@Loc["BetaTesters"]</th>
            <td><span style="color: #fb7efd">B</span><span style="color: #3783ff">1</span><span style="color: #0f0">r</span><span style="color: #ff0">d</span><span style="color: #fc2847">Y</span>, Br4uN, <img src="images/credits/fairy.gif" style="height: 16px;" />, <img src="images/credits/ffaez.gif" style="margin: -2px 0 1px 0; height: 16px;" />, Itamai, <img src="images/credits/laiteux.gif" style="height: 16px;" />, Pure</td>
        </tr>
        <tr>
            <th scope="row">@Loc["Translators"]</th>
            <td>Br4uN (es), Choempie (nl), dEath (tr), Fairy (fr), Laiteux (fr), LilToba (fa), ManoPlayBRL (pt), meinname (de), Mr.Virtue (ru), Ruri (en, it), Ruzzlzz (ro), PITVN (vi)</td>
        </tr>
        <tr>
            <th scope="row">@Loc["OfficialForum"]</th>
            <td><a href="https://discourse.openbullet.dev/">discourse.openbullet.dev</a></td>
        </tr>
        <tr>
            <th scope="row">@Loc["OfficialRepository"]</th>
            <td><a href="https://github.com/openbullet/OpenBullet2/">github.com/openbullet/OpenBullet2</a></td>
        </tr>
        <tr>
            <th scope="row">@Loc["License"]</th>
            <td><span class="mr-3">MIT</span><button class="btn btn-sm btn-outline-primary" @onclick="ShowLicense">@Loc["Read"]</button></td>
        </tr>
    </tbody>
</table>

<div class="mb-3">
    <a href="https://en.cryptobadges.io/donate/39yMkox6pP8tnSC7rZ5EM4nUUHgPbg1fKM">
        <img src="https://en.cryptobadges.io/badge/small/39yMkox6pP8tnSC7rZ5EM4nUUHgPbg1fKM" alt="Donate BTC" />
    </a>
    <br />
    <a href="https://en.cryptobadges.io/donate/0xc22116Bcf6c30977bEdFcc03C5B6aAe90B0fD179">
        <img src="https://en.cryptobadges.io/badge/small/0xc22116Bcf6c30977bEdFcc03C5B6aAe90B0fD179" alt="Donate ETH" />
    </a>
    <br />
    <span><b>Donate BCH: </b>qq02mrtdp454g2zdu534ndpu7jgcr3tvavyzs60m3p</span>
</div>

<h5>@Loc["DonatorsAndSupporters"]</h5>
<div class="p-2 mb-3" style="background-color: black;">
    <div>
        <img src="images/credits/james.gif" style="height: 16px;" /><br /> 
        <img src="images/credits/ffaez.gif" style="margin: -2px 0 1px 0; height: 16px;" /><br />
       <img src="images/credits/sjw.gif" style="margin: -2px 0 1px 0; height: 14px;" /><br />
    </div>
    <div style="color: silver;">
        <span>Ikamai</span><br />
        <img src="images/credits/thefiendqq.gif" style="height: 16px;" /><br />
        <span>Patch2201</span><br />
        <span>Spic</span><br />
        <span style="color: #fb7efd">B</span><span style="color: #3783ff">1</span><span style="color: #0f0">r</span><span style="color: #ff0">d</span><span style="color: #fc2847">Y</span><br />
        <img src="images/credits/mastercho.gif" style="height: 16px;" /><br />
        <span>alexparkin</span><br />
        
    </div>
    <div style="color: #cd7f32;">
        <span>k4k4r0to</span><br />
        <span>donx</span><br />
        <span>Crackdealer</span><br />
        <span>moon.Man</span><br />
        <img src="images/credits/laiteux.gif" style="height: 16px;" /><br />
        <span>HarveyS</span><br />
        <span>ＥｄｗａｒｄＮ</span><br />
        <span>mimic</span><br />
        <span>Matthew</span><br />
        <span>MadmanDev</span><br />
        <span>Rael</span><br />
        <span>boggy94</span><br />
        <span>Pegasus</span><br />
        <span>Phantøm</span><br />
        <span>Joey</span><br />
        <span>dew88</span><br />
        <span>ManoPlayBRL</span><br />
        <span>Plog</span><br />
        <span>Barmoley</span><br />
        <span>Itamai</span><br />
        <span>Kurosaki Ichigo</span><br />
        <span>Pool</span><br />
        <span>Finlay1010</span><br />
        <span>n00biE</span><br />
        <span>kaatil</span><br />
        <span>Speeedyyyy</span><br />
        <span>AccountMast3r</span><br />
        <span>Ruzzlzz</span><br />
        <span>Cal</span><br />
        <span>Sparky (Rare)</span><br />
        <span>Fr00tl00ps | Lisse</span><br />
        <span>dankmemes43</span><br />
        <span>PortgasDAce</span><br />
        <span>Lucif3rHun1</span><br />
    </div>
</div>

@code {

    private void ShowLicense()
    {
        Modal.Show<License>(Loc["License"]);
    }
}
