@page "/about"
@inject Microsoft.Extensions.Localization.IStringLocalizer<About> Loc
@inject IModalService Modal
@using OpenBullet2.Shared.Forms

<h5 class="fg-fail">@Loc["Disclaimer"]</h5>
<p class="fg-fail mb-3">@Loc["DisclaimerText"]</p>

<table class="table">
    <tbody>
        <tr>
            <th scope="row">@Loc["Developer"]</th>
            <td>Ruri</td>
        </tr>
        <tr>
            <th scope="row">@Loc["Collaborators"]</th>
            <td>demiurgo, meinname</td>
        </tr>
        <tr>
            <th scope="row">@Loc["OfficialForum"]</th>
            <td><a href="https://forum.openbullet.dev/">forum.openbullet.dev</a></td>
        </tr>
        <tr>
            <th scope="row">@Loc["OfficialRepository"]</th>
            <td><a href="https://github.com/openbullet/OpenBullet2/">github.com/openbullet/OpenBullet2</a></td>
        </tr>
        <tr>
            <th scope="row">@Loc["License"]</th>
            <td><span class="mr-3">MIT</span><button class="btn btn-sm btn-outline-primary" @onclick="ShowLicense">@Loc["Read"]</button></td>
        </tr>
    </tbody>
</table>

<div class="mb-3">
    <a href="https://en.cryptobadges.io/donate/39yMkox6pP8tnSC7rZ5EM4nUUHgPbg1fKM">
        <img src="https://en.cryptobadges.io/badge/small/39yMkox6pP8tnSC7rZ5EM4nUUHgPbg1fKM" alt="Donate BTC" />
    </a>
    <br />
    <a href="https://en.cryptobadges.io/donate/0xc22116Bcf6c30977bEdFcc03C5B6aAe90B0fD179">
        <img src="https://en.cryptobadges.io/badge/small/0xc22116Bcf6c30977bEdFcc03C5B6aAe90B0fD179" alt="Donate ETH" />
    </a>
</div>

<h5>@Loc["DonatorsAndSupporters"]</h5>
[INSERT LIST HERE]

@code {

    void ShowLicense()
    {
        Modal.Show<License>(Loc["License"]);
    }
}
