@page "/configs"
@using RuriLib.Models.Configs
@using BlazorInputFile
@inject Microsoft.Extensions.Localization.IStringLocalizer<Configs> Loc
@attribute [Authorize(Roles = "Admin")]

<div class="container-fluid">
    <div class="row">
        <div class="list-group list-group-horizontal">
            <button class="btn btn-sm btn-outline-success m-sm-1" @onclick="CreateConfig"><span class="oi oi-plus"></span> @Loc["New"]</button>
            <button class="btn btn-sm btn-outline-primary m-sm-1" @onclick="EditConfig"><span class="oi oi-pencil"></span> @Loc["Edit"]</button>
            <button class="btn btn-sm btn-outline-danger m-sm-1" @onclick="DeleteConfig"><span class="oi oi-x"></span> @Loc["Delete"]</button>
            <button class="btn btn-sm btn-outline-primary m-sm-1" @onclick="@(() => uploadDisplay = !uploadDisplay)">
                <span class="oi oi-data-transfer-upload"></span> @Loc["Upload"]
            </button>
            <button class="btn btn-sm btn-outline-primary m-sm-1" @onclick="DownloadConfig"><span class="oi oi-data-transfer-download"></span> @Loc["Download"]</button>
            <button class="btn btn-sm btn-outline-secondary m-sm-1" @onclick="ReloadConfigs"><span class="oi oi-reload"></span> @Loc["Reload"]</button>
            <button class="btn btn-sm btn-outline-success m-sm-1" style="margin-left: 50px;" @onclick="ToggleView"><span class="oi oi-wrench"></span> @Loc["ToggleView"]</button>
        </div>
    </div>
    @if (uploadDisplay)
    {
        <div class="row">
            <div class="drag-drop-zone">
                <InputFile OnChange="ProcessUploadedConfigs" />
            </div>
        </div>
    }
    <div class="row config-list" style="margin-top: 30px;">
        @if (detailedView)
        {
            <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="30"
                        AllowSorting="true" Data="@configs" TItem="Config" ColumnWidth="200px" RowSelect="SelectConfig" RowDoubleClick="EditConfig">
                <Columns>
                    <RadzenGridColumn TItem="Config" Property="Metadata.Name" Title="@Loc["Name"]" />
                    <RadzenGridColumn TItem="Config" Property="Metadata.Author" Title="@Loc["Author"]" />
                    <RadzenGridColumn TItem="Config" Property="Metadata.Category" Title="@Loc["Category"]" />
                    <RadzenGridColumn TItem="Config" Property="Settings.ProxySettings.UseProxies" Title="@Loc["Proxies"]" />
                    <RadzenGridColumn TItem="Config" Property="Metadata.CreationDate" Title="@Loc["CreationDate"]" />
                    <RadzenGridColumn TItem="Config" Property="Metadata.LastModified" Title="@Loc["LastModified"]" />
                </Columns>
            </RadzenGrid>
        }
        else
        {
            <RadzenDataList WrapItems="true" AllowPaging="true" Data="@configs" TItem="Config">
                <Template Context="config">
                    <RadzenCard Style="width:130px;">
                        <div style="background-color: @(config == selectedConfig ? "#111" : "transparent"); cursor: pointer; padding: 10px; border-radius: 10px; margin: -10px;"
                             @onclick="@(() => SelectConfig(config))" @ondblclick="EditConfig">
                            <div class="row">
                                <div style="margin: 0 auto;">
                                    <img src="data:image/png;base64,@config.Metadata.Base64Image" style="width: 80px; height:80px;" />
                                </div>
                            </div>
                            <div class="row mt-3">
                                <span class="text-center text-warning margin-left: 5px;margin-right: 5px;"
                                      style="width: 100%; font-size: 16px;">@config.Metadata.Name</span>
                                </div>
                                <div class="row">
                                    <span class="text-center" style="width: 100%; font-size: 14px;">@Loc["by"] @config.Metadata.Author</span>
                                </div>
                                <div class="row">
                                    <span class="text-center" style="width: 100%; font-size: 14px;">@config.Metadata.LastModified.ToString("dd MMM yyyy")</span>
                                </div>
                            </div>
                        </RadzenCard>
                    </Template>
                </RadzenDataList>
            }
    </div>
</div>

@code {
    bool uploadDisplay = false;
}
