@page "/config/edit/lolicode"
@inject Microsoft.Extensions.Localization.IStringLocalizer<EditLC> Loc
@attribute [Authorize(Roles = "Admin")]

@if (config != null)
{
    <div class="container-fluid">
        <div class="row mb-2">
            <span class="fg-custom">@Loc["LoliCodeEditor"]</span>
        </div>
        <div class="row">
            <div class="list-group list-group-horizontal">
                <button class="btn btn-sm btn-outline-primary" @onclick="(() => showUsings = !showUsings)">
                    <span class="oi oi-cog"></span> @Loc["ToggleUsings"]
                </button>
                <button class="btn btn-sm btn-outline-primary" @onclick="(() => showStartupEditor = !showStartupEditor)">
                    <span class="oi oi-cog"></span> @Loc["ToggleStartupEditor"]
                </button>
            </div>
        </div>
        @if (showUsings)
        {
            <div class="row mt-3">
                <p>@Loc["UsingsInfo"]</p><br />
                <div class="w-100">
                    <EditForm Model="config.Settings.ScriptSettings">
                        <InputListOfStrings @bind-List="config.Settings.ScriptSettings.CustomUsings" />
                    </EditForm>
                </div>
            </div>
        }
        <div class=@($"row mt-3{(showStartupEditor ? "" : " hidden")}")>
            <p>@Loc["StartupEditorInfo"]</p><br />
            <div class="w-100" style="height: 200px;">
                <MonacoEditor @ref="StartupEditor" Id="startup-loli-editor"
                    ConstructionOptions="StartupEditorConstructionOptions"
                    OnDidInit="OnStartupMonacoInit" OnDidChangeModelContent="SaveStartupScript" />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-12 pl-0">
                <div class="w-100 mt-3" style="height: 800px;">
                    <MonacoEditor @ref="Editor" Id="loli-editor" ConstructionOptions="EditorConstructionOptions"
                        OnDidInit="OnMonacoInit" OnDidChangeModelContent="SaveScript" />
                </div>
                <br />
                <span class="fg-custom font-italic"><span class="fa fa-lightbulb"></span> @Loc["CSharpTip"]</span>
                <br />
                <BullettaHelp Title="@help1x00" Messages="new string[] { help1x01, help1x02, help1x03, help1x04 }" /><br />
                <a href="#" @onclick="@(() => js.InvokeVoidAsync("open", "docs/lolicode/statements", "_blank"))">LoliCode Statements</a>
                <hr />
            </div>
            <div class="col-xl-6 d-xl-block d-none pr-0">
                <div style="height: 800px; overflow-y: auto;">
                    <Debugger Config="config" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-0 mx-0 d-xl-none d-block">
                <Debugger Config="config" />
            </div>
        </div>
    </div>
}

@code {
    private bool showUsings = false;
    private bool showStartupEditor = false;

    private string help1x00 => Loc["Help1x00"];
    private string help1x01 => Loc["Help1x01"];
    private string help1x02 => Loc["Help1x02"];
    private string help1x03 => Loc["Help1x03"];
    private string help1x04 => Loc["Help1x04"];
}
