@page "/hits"
@using OpenBullet2.Entities
@inject Microsoft.Extensions.Localization.IStringLocalizer<Hits> Loc
@attribute [Authorize(Roles = "Admin,Guest")]

<div class="container-fluid">
    <div class="row mb-2">
        <div class="list-group list-group-horizontal">
            <button class="btn btn-sm btn-outline-primary" @onclick="EditHit"><span class="oi oi-pencil"></span> @Loc["Edit"]</button>
            <button class="btn btn-sm btn-outline-danger" @onclick="DeleteHit"><span class="oi oi-x"></span> @Loc["Delete"]</button>
            <button class="btn btn-sm btn-outline-danger" @onclick="DeleteFiltered"><span class="oi oi-x"></span> @Loc["DeleteFiltered"]</button>
            <button class="btn btn-sm btn-outline-danger" @onclick="PurgeHits"><span class="oi oi-trash"></span> @Loc["Purge"]</button>
        </div>
    </div>
</div>

@if (gridLoad != null && !gridLoad.IsCanceled && gridLoad.IsCompleted)
{
    <GridComponent @ref="gridComponent" T="HitEntity" Grid="@grid" OnRowClicked="@OnHitSelected"></GridComponent>
}
else
{
    <p><em>@Loc["Loading"]...</em></p>
}
