@page "/hits"
@using OpenBullet2.Core.Entities
@inject Microsoft.Extensions.Localization.IStringLocalizer<Hits> Loc
@attribute [Authorize(Roles = "Admin,Guest")]

<div class="container-fluid">
    <div class="row mb-2">
        <div class="list-group list-group-horizontal">
            <button class="btn btn-sm btn-outline-primary" @onclick="CopyHits"><span class="oi oi-layers"></span> @Loc["Copy"]</button>
            <button class="btn btn-sm btn-outline-primary" @onclick="DownloadHits"><span class="oi oi-cloud-download"></span> @Loc["Download"]</button>
            <button class="btn btn-sm btn-outline-primary" @onclick="EditHit"><span class="oi oi-pencil"></span> @Loc["Edit"]</button>
            <button class="btn btn-sm btn-outline-primary" @onclick="SendToRecheck"><span class="oi oi-action-redo"></span> @Loc["SendToRecheck"]</button>
        </div>
    </div>
    <div class="row mb-2">
        <div class="list-group list-group-horizontal">
            <button class="btn btn-sm btn-outline-danger" @onclick="DeleteHits"><span class="oi oi-x"></span> @Loc["Delete"]</button>
            <button class="btn btn-sm btn-outline-danger" @onclick="DeleteDuplicates"><span class="oi oi-x"></span> @Loc["DeleteDuplicates"]</button>
            @if (uid == -0)
            {
                // Only the admin can purge all hits from the DB
<button class="btn btn-sm btn-outline-danger" @onclick="PurgeHits"><span class="oi oi-trash"></span> @Loc["Purge"]</button>            }
        </div>
    </div>
</div>

<EditForm Model="actionTarget">
    <label>@Loc["ExecuteOn"]</label>
    <InputSelect @bind-Value="actionTarget">
        @foreach (var t in Enum.GetNames(typeof(HitsActionTarget)))
        {
<option value="@t">@t</option>}
    </InputSelect>
    <br />
    <label>@Loc["Format"]</label>
    <InputSelect @bind-Value="hitsFormat">
        <option value="<DATA>">&lt;DATA&gt;</option>
        <option value="<DATA> | <CAPTURE>">&lt;DATA&gt; | &lt;CAPTURE&gt;</option>
        @foreach (var f in RuriLibSettings.Environment.ExportFormats)
        {
<option value="@(f.Format)">@(f.Format)</option>}
    </InputSelect>
</EditForm>

@if (gridLoad != null && !gridLoad.IsCanceled && gridLoad.IsCompleted)
{
<GridComponent @ref="gridComponent" T="HitEntity" Grid="@grid" OnRowClicked="@OnHitSelected"></GridComponent> }
            else
            {
<p><em>@Loc["Loading"]...</em></p>}
