@page "/"
@using OpenBullet2.Core.Extensions
@using RuriLib.Functions.Conversion 
@using System.Globalization
@inject Microsoft.Extensions.Localization.IStringLocalizer<Index> Loc
@attribute [Authorize(Roles = "Admin,Guest")]

<h2 class="mb-3">@Loc["WelcomeMessage"]</h2>

<div class="announcement">
    <MarkdownRenderer MarkdownContent="@announcement" />
</div>

<table class="table">
    <tbody>
        <AuthorizeView>
            <Authorized>
                <tr>
                    <th scope="row">@Loc["AuthenticatedAs"]</th>
                    <td>
                        @context.User.Identity.Name
                        <button class="btn btn-sm btn-outline-primary ml-3" @onclick="Logout">@Loc["LogOut"]</button>
                    </td>
                </tr>
            </Authorized>
        </AuthorizeView>
        <tr>
            <th scope="row">@Loc["LocalTime"]</th>
            <td>@Metrics.ServerTime.ToString()</td>
        </tr>
        <tr>
            <th scope="row">@Loc["WebserverUptime"]</th>
            <td>@Metrics.UpTime.ToReadableString()</td>
        </tr>
        <tr>
            <th scope="row">@Loc["OperatingSystem"]</th>
            <td>@Metrics.OS</td>
        </tr>
        <tr>
            <th scope="row">@Loc["CurrentWorkingDirectory"]</th>
            <td>@Metrics.CWD</td>
        </tr>
        <tr>
            <th scope="row">@Loc["CPUUsage"]</th>
            <td>@(Metrics.CpuUsage.ToString("0.##", CultureInfo.InvariantCulture)) %</td>
        </tr>
        <tr>
            <th scope="row">@Loc["MemoryUsage"]</th>
            <td>@SizeConverter.ToReadableSize(Metrics.MemoryUsage)</td>
        </tr>
        <tr>
            <th scope="row">@Loc["NetworkUsage"]</th>
            <td>@SizeConverter.ToReadableSize(Metrics.NetUpload, true, false, 0) @Loc["UP"] / 
                @SizeConverter.ToReadableSize(Metrics.NetDownload, true, false, 0) @Loc["DOWN"]</td>
        </tr>
        <tr>
            <th scope="row">@Loc["BuildNumber"]</th>
            <td>@Metrics.BuildNumber (@Metrics.BuildDate.ToString())</td>
        </tr>
        <tr>
            <th scope="row">@Loc["ClientIpAddress"]</th>
            <td>@(IP.IsIPv4MappedToIPv6 ? IP.MapToIPv4() : IP)</td>
        </tr>
    </tbody>
</table>

<h5>@Loc["Help"]</h5>
<BullettaHelp Title="@help1x00" Messages="new string[] { help1x01, help1x02 }" /><br />
<BullettaHelp Title="@help2x00" Messages="new string[] { help2x01, help2x02, help2x03 }" />

@code {
    private string help1x00 => Loc["Help1x00"];
    private string help1x01 => Loc["Help1x01"];
    private string help1x02 => Loc["Help1x02"];

    private string help2x00 => Loc["Help2x00"];
    private string help2x01 => Loc["Help2x01"];
    private string help2x02 => Loc["Help2x02"];
    private string help2x03 => Loc["Help2x03"];
} 