@page "/monitor"
@using RuriLib.Models.Jobs.Monitor.Triggers
@using RuriLib.Models.Jobs.Monitor.Actions 
@inject Microsoft.Extensions.Localization.IStringLocalizer<JobMonitor> Loc
@attribute [Authorize(Roles = "Admin,Guest")]

<div class="container-fluid">
    <div class="row">
        <div class="list-group list-group-horizontal">
            <button class="btn-sm btn-success m-sm-1" @onclick="AddNew"><span class="oi oi-plus"></span> @Loc["New"]</button>
            <button class="btn-sm btn-danger m-sm-1" @onclick="RemoveAll"><span class="oi oi-x"></span> @Loc["RemoveAll"]</button>
        </div>
    </div>
    @foreach (var ta in MonitorService.TriggeredActions)
    {
        <div class="triggered-action-container">
            <div class="row" style="margin-top: 5px;">
                <div class="col-2">
                    <span>@Loc["Job"]:</span>
                    <input type="number" @bind="ta.JobId" />
                    <span>@Loc["Active"]:</span>
                    <input type="checkbox" @bind="ta.IsActive" /><br />
                    <span>@Loc["Repeatable"]:</span>
                    <input type="checkbox" @bind="ta.IsRepeatable" /><br />
                    <span>@Loc["Executing"]: @ta.IsExecuting</span><br />
                    <span>@Loc["Executions"]: @ta.Executions</span>
                </div>
                <div class="col">
                    <h5>@Loc["Triggers"]:</h5>
                    <p>@Loc["TriggersDescription"].</p>
                    <div class="row">
                        <div class="list-group list-group-horizontal">
                            <button class="btn-sm btn-success m-sm-1" @onclick="(async () => await AddNewTrigger(ta))"><span class="oi oi-plus"></span> @Loc["New"]</button>
                            <button class="btn-sm btn-danger m-sm-1" @onclick="(() => RemoveAllTriggers(ta))"><span class="oi oi-x"></span> @Loc["RemoveAll"]</button>
                        </div>
                    </div>
                    @foreach (var trigger in ta.Triggers)
                    {
                        <div class="row triggered-action-row">
                            @switch (trigger)
                            {
                                case HitCountTrigger t:
                                    <InputIntComparison Label="Hit Count" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
                                    break;

                                case CustomCountTrigger t:
                                    <InputIntComparison Label="Custom Count" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
                                    break;

                                case ToCheckCountTrigger t:
                                    <InputIntComparison Label="ToCheck Count" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
                                    break;

                                case BanCountTrigger t:
                                    <InputIntComparison Label="Ban Count" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
                                    break;

                                case RetryCountTrigger t:
                                    <InputIntComparison Label="Retry Count" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
                                    break;

                                case ErrorCountTrigger t:
                                    <InputIntComparison Label="Error Count" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
                                    break;

                                case FailCountTrigger t:
                                    <InputIntComparison Label="Fail Count" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
                                    break;

                                case TestedCountTrigger t:
                                    <InputIntComparison Label="Tested Count" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
                                    break;

                                case AliveProxiesCountTrigger t:
                                    <InputIntComparison Label="Alive Proxies Count" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
                                    break;

                                case BannedProxiesCountTrigger t:
                                    <InputIntComparison Label="Banned Proxies Count" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
                                    break;

                                case JobFinishedTrigger t:
                                    <div class="col">Job Finished</div>
                                    break;

                                case JobStatusTrigger t:
                                    <div class="col">Job Status is</div>
                                    <div class="col-auto">
                                        <select @bind="t.Status">
                                            @foreach (var status in Enum.GetNames(typeof(RuriLib.Models.Jobs.Threading.TaskManagerStatus)))
                                            {
                                                <option value="@status">@status</option>
                                            }
                                        </select>
                                    </div>
                                    break;

                                case CPMTrigger t:
                                    <InputIntComparison Label="CPM" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
                                    break;

                                case CaptchaCreditTrigger t:
                                    <InputFloatComparison Label="CPM" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
                                    break;

                                case ProgressTrigger t:
                                    <InputFloatComparison Label="CPM" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
                                    break;

                                case TimeElapsedTrigger t:
                                    <div class="col-auto">Time Elapsed</div>
                                    <select @bind="t.Comparison">
                                        @foreach (var comp in Enum.GetNames(typeof(RuriLib.Models.Conditions.Comparisons.NumComparison)))
                                        {
                                            <option value="@comp">@comp</option>
                                        }
                                    </select>
                                    <div class="col"><input type="number" @bind="t.Days" /></div>
                                    <div class="col-auto">days</div>
                                    <div class="col"><input type="number" @bind="t.Hours" /></div>
                                    <div class="col-auto">hours</div>
                                    <div class="col"><input type="number" @bind="t.Minutes" /></div>
                                    <div class="col-auto">minutes</div>
                                    <div class="col"><input type="number" @bind="t.Seconds" /></div>
                                    <div class="col-auto">seconds</div>
                                    break;

                                case TimeRemainingTrigger t:
                                    <div class="col-auto">Time Remaining</div>
                                    <select @bind="t.Comparison">
                                        @foreach (var comp in Enum.GetNames(typeof(RuriLib.Models.Conditions.Comparisons.NumComparison)))
                                        {
                                            <option value="@comp">@comp</option>
                                        }
                                    </select>
                                    <div class="col"><input type="number" @bind="t.Days" /></div>
                                    <div class="col-auto">days</div>
                                    <div class="col"><input type="number" @bind="t.Hours" /></div>
                                    <div class="col-auto">hours</div>
                                    <div class="col"><input type="number" @bind="t.Minutes" /></div>
                                    <div class="col-auto">minutes</div>
                                    <div class="col"><input type="number" @bind="t.Seconds" /></div>
                                    <div class="col-auto">seconds</div>
                                    break;
                            }
                            <div class="col-auto text-right">
                                <button class="btn-sm btn-danger" @onclick="(() => ta.Triggers.Remove(trigger))">
                                    <span class="oi oi-x" />
                                </button>
                            </div>
                        </div>
                    }
                </div>
                <div class="col">
                    <h5>@Loc["Actions"]:</h5>
                    <p>@Loc["ActionsDescription"].</p>
                    <div class="row">
                        <div class="list-group list-group-horizontal">
                            <button class="btn-sm btn-success m-sm-1" @onclick="(async () => await AddNewAction(ta))"><span class="oi oi-plus"></span> @Loc["New"]</button>
                            <button class="btn-sm btn-danger m-sm-1" @onclick="(() => RemoveAllActions(ta))"><span class="oi oi-x"></span> @Loc["RemoveAll"]</button>
                        </div>
                    </div>
                    @foreach (var action in ta.Actions)
                    {
                        <div class="row triggered-action-row">
                            @switch (action)
                            {
                                case SetBotsAction a:
                                    <div class="col-auto">Set bots to</div>
                                    <div class="col"><input type="number" @bind="a.Amount" /></div>
                                    <div class="col-auto">in job</div>
                                    <div class="col"><input type="number" @bind="a.TargetJobId" /></div>
                                    break;

                                case WaitAction a:
                                    <div class="col-auto">Wait</div>
                                    <div class="col"><input type="number" @bind="a.Days" /></div>
                                    <div class="col-auto">days</div>
                                    <div class="col"><input type="number" @bind="a.Hours" /></div>
                                    <div class="col-auto">hours</div>
                                    <div class="col"><input type="number" @bind="a.Minutes" /></div>
                                    <div class="col-auto">minutes</div>
                                    <div class="col"><input type="number" @bind="a.Seconds" /></div>
                                    <div class="col-auto">seconds</div>
                                    break;

                                case SetRelativeStartConditionAction a:
                                    <div class="col-auto">Set relative time</div>
                                    <div class="col"><input type="number" @bind="a.Days" /></div>
                                    <div class="col-auto">days</div>
                                    <div class="col"><input type="number" @bind="a.Hours" /></div>
                                    <div class="col-auto">hours</div>
                                    <div class="col"><input type="number" @bind="a.Minutes" /></div>
                                    <div class="col-auto">minutes</div>
                                    <div class="col"><input type="number" @bind="a.Seconds" /></div>
                                    <div class="col-auto">seconds on job</div>
                                    <div class="col"><input type="number" @bind="a.JobId" /></div>
                                    break;

                                case StartJobAction a:
                                    <div class="col-auto">Start job</div>
                                    <div class="col"><input type="number" @bind="a.JobId" /></div>
                                    break;

                                case StopJobAction a:
                                    <div class="col-auto">Stop job</div>
                                    <div class="col"><input type="number" @bind="a.JobId" /></div>
                                    break;

                                case DiscordWebhookAction a:
                                    <div class="col-auto">Send</div>
                                    <div class="col"><input type="text" @bind="a.Message" /></div>
                                    <div class="col-auto">on webhook</div>
                                    <div class="col"><input type="text" @bind="a.Webhook" /></div>
                                    break;

                                case ReloadProxiesAction a:
                                    <div class="col">Reload Proxies</div>
                                    break;
                            }
                            <div class="col-auto text-right">
                                <button class="btn-sm btn-danger" @onclick="(() => ta.Actions.Remove(action))">
                                    <span class="oi oi-x" />
                                </button>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-2">
                    <div class="row">
                        <button class="btn btn-danger" style="height: 100%; width: 100%;" @onclick="(() => Remove(ta))">
                            @Loc["Remove"]
                        </button>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary" style="height: 100%; width: 100%;" @onclick="(() => ta.Reset())">
                            @Loc["Reset"]
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>