@page "/jobs"
@using RuriLib.Models.Jobs
@using RuriLib.Models.Data.DataPools
@inject Microsoft.Extensions.Localization.IStringLocalizer<JobManager> Loc
@attribute [Authorize(Roles = "Admin,Guest")]

<div class="container-fluid">
    <div class="row mb-2">
        <div class="list-group list-group-horizontal">
            <button class="btn btn-sm btn-outline-success" @onclick="NewJob"><span class="oi oi-plus"></span> @Loc["New"]</button>
            <button class="btn btn-sm btn-outline-danger" @onclick="RemoveAll"><span class="oi oi-x"></span> @Loc["RemoveAll"]</button>
        </div>
    </div>
    @foreach (var job in Manager.Jobs.Where(j => CanSeeJob(j.OwnerId)))
    {
        <div class="row mt-sm-2 mt-3">
            <div class="col-sm-auto job-overview-left-col d-flex align-items-center">
                <span>#@job.Id  [@job.Status]</span>
            </div>
            <div class="col-sm align-self-stretch pl-0 job-overview-mid-col d-flex align-items-center">
                <div class="job-overview px-2" @onclick="@(() => SelectJob(job))">
                    @switch (job)
                    {
                        case MultiRunJob x:
                            <span>
                                @if (x.Config != null)
                                {
                                    <b>Config: </b>@x.Config.Metadata.Name
                                }
                                else
                                {
                                    @Loc["NoConfigSelected"]
                                }
                            </span>
                            <span>
                                <b>Data Pool: </b>
                                @switch (x.DataPool)
                                {
                                    case WordlistDataPool p:
                                        @(p.Wordlist.Name + " (Wordlist)") 
                                        break;

                                    case CombinationsDataPool p:
                                        @("Combinations")
                                        break;

                                    case InfiniteDataPool p:
                                        @("Infinite")
                                        break;

                                    case RangeDataPool p:
                                        @("Range")
                                        break;

                                    case FileDataPool p:
                                        @(p.FileName + ("File"))
                                        break;
                                }
                            </span>
                            <span><b>Bots: </b>@x.Bots</span>
                            <span><b>Proxies: </b>@x.ProxyMode</span>
                            <span class="fg-hit"><b>Hits: </b>@x.DataHits</span>
                            <span class="fg-custom"><b>Custom: </b>@x.DataCustom</span>
                            <span class="fg-tocheck"><b>ToCheck: </b>@x.DataToCheck</span>
                            @if (x.Manager == null)
                            {
                                <span><b>Progress: </b>Unknown</span>
                                <span><b>CPM: </b>Unknown</span>
                            }
                            else
                            {
                                <span><b>Progress: </b>@x.DataTested / @x.DataPool.Size (@((x.Manager.Progress * 100).ToString("0.00"))%)</span>
                                <span><b>CPM: </b>@x.Manager.CPM</span>
                            }
                            break;
                    }
                </div>
            </div>
            <div class="col-sm-auto d-flex justify-content-around">
                <button class="btn btn-outline-primary w-100" @onclick="(() => Edit(job))" @onclick:stopPropagation="true">
                    <span class="oi oi-pencil" title="@Loc["Edit"]"></span>
                </button>
                <button class="btn btn-outline-primary ml-1 w-100" @onclick="(() => Clone(job))" @onclick:stopPropagation="true">
                    <span class="oi oi-layers" title="@Loc["Clone"]"></span>
                </button>
                <button class="btn btn-outline-danger ml-1 w-100" @onclick="(() => Remove(job))" @onclick:stopPropagation="true">
                    <span class="oi oi-x" title="@Loc["Remove"]"></span>
                </button>
            </div>
        </div>
    }
</div>