@page "/settings/openbullet"
@using OpenBullet2.Services
@using OpenBullet2.Models.Settings
@inject Microsoft.Extensions.Localization.IStringLocalizer<OBSettings> Loc
@attribute [Authorize(Roles = "Admin")]

<h1>@Loc["General"]</h1>
<EditForm Model="settings.GeneralSettings">

    <label>@Loc["NavigateOnEdit"]</label>
    <InputSelect @bind-Value="settings.GeneralSettings.ConfigSectionOnLoad">
        @foreach (var sect in Enum.GetNames(typeof(ConfigSection)))
        {
            <option value="@sect">@sect</option>
        }
    </InputSelect>
    <br />

    <label>@Loc["AutoSetRecommendedBots"]</label>
    <InputCheckbox class="mb-3" @bind-Value="settings.GeneralSettings.AutoSetRecommendedBots" />
    <br />

    <label>@Loc["WarnConfigNotSaved"]</label>
    <InputCheckbox class="mb-3" @bind-Value="settings.GeneralSettings.WarnConfigNotSaved" />
    <br />

    <label>@Loc["DefaultAuthor"]</label>
    <InputText class="mb-3" @bind-Value="settings.GeneralSettings.DefaultAuthor" />

    <label>@Loc["EnableJobLogging"]</label>
    <InputCheckbox class="mb-3" @bind-Value="settings.GeneralSettings.EnableJobLogging" />
    <br />

    <label>@Loc["LogMaxEntries"]</label>
    <InputNumber class="mb-3" @bind-Value="settings.GeneralSettings.LogBufferSize" />

    <label>@Loc["LogToFile"]</label>
    <InputCheckbox class="mb-3" @bind-Value="settings.GeneralSettings.LogToFile" />
    <br />

    <!-- Maybe move this to the actual relevant page -->
    <label>@Loc["IgnoreWordlistNameOnHitsDedupe"]</label>
    <InputCheckbox class="mb-3" @bind-Value="settings.GeneralSettings.IgnoreWordlistNameOnHitsDedupe" />
    <br />

    <label style="color: orange;">@Loc["ProxyCheckTargets"]</label>
    <br />
    <p>@Loc["ProxyCheckTargetsDescription"]</p>
    <div class="list-group list-group-horizontal">
        <button type="button" class="btn btn-sm btn-outline-success" @onclick="@(() => settings.GeneralSettings.ProxyCheckTargets.Add(new ProxyCheckTarget()))">
            <span class="oi oi-plus"></span> @Loc["Add"]
        </button>
        <button type="button" class="btn btn-sm btn-outline-danger"
                @onclick="@(() => settings.GeneralSettings.ProxyCheckTargets.Clear())">
            <span class="oi oi-x"></span> @Loc["Clear"]
        </button>
    </div>
    <div class="container-fluid" style="margin-top: 15px;">
        @foreach (var input in settings.GeneralSettings.ProxyCheckTargets)
        {
            <div class="row">
                <div class="col-auto px-1 px-md-2">
                    <label style="line-height: 30px;">@Loc["URL"]</label>
                </div>
                <div class="col align-self-stretch px-1 px-md-2">
                    <InputText @bind-Value="input.Url" />
                </div>
                <div class="col-auto px-1 px-md-2">
                    <label style="line-height: 30px;">@Loc["SuccessKey"]</label>
                </div>
                <div class="col align-self-stretch px-1 px-md-2">
                    <InputText @bind-Value="input.SuccessKey" />
                </div>
                <div class="col-auto px-1 px-md-2">
                    <button type="button" class="btn btn-sm btn-outline-danger" @onclick="@(() => settings.GeneralSettings.ProxyCheckTargets.Remove(input))">
                        <span class="oi oi-x"></span></button>
                </div>
            </div>
        }
    </div>

</EditForm>

<h1>@Loc["Security"]</h1>
<EditForm Model="settings.SecuritySettings">

    <label>@Loc["AllowSystemWideFileAccess"]</label>
    <InputCheckbox class="mb-3" @bind-Value="settings.SecuritySettings.AllowSystemWideFileAccess" />
    <br />

    <label>@Loc["RequireAdminLogin"]</label>
    <InputCheckbox class="mb-3" @bind-Value="settings.SecuritySettings.RequireAdminLogin" />
    <br />

    <label>@Loc["AdminUsername"]</label>
    <InputText class="mb-3" @bind-Value="settings.SecuritySettings.AdminUsername" />
    <button class="btn btn-sm btn-outline-primary" @onclick="ChangePassword">@Loc["ChangePassword"]</button>
    <br />
    <br />

    <label>@Loc["AdminSessionLifetimeHours"]</label>
    <InputNumber class="mb-3" @bind-Value="settings.SecuritySettings.AdminSessionLifetimeHours" />

    <label>@Loc["GuestSessionLifetimeHours"]</label>
    <InputNumber class="mb-3" @bind-Value="settings.SecuritySettings.GuestSessionLifetimeHours" />

</EditForm>

<h1>@Loc["Remote"]</h1>
<EditForm Model="settings.RemoteSettings">
    <!-- Work in progress -->
</EditForm>

<button class="btn btn-outline-success" style="margin: 10px 0;" @onclick="Save">@Loc["Save"]</button>
<button class="btn btn-outline-warning" style="margin: 10px 0;" @onclick="RestoreDefaults">@Loc["RestoreDefaults"]</button>
