@page "/proxies/groups"
@using OpenBullet2.Entities
@inject Microsoft.Extensions.Localization.IStringLocalizer<ProxyGroups> Loc
@attribute [Authorize(Roles = "Admin,Guest")]

<div class="container-fluid">
    <div class="row">
        <div class="list-group list-group-horizontal">
            <button class="btn btn-sm btn-outline-success m-sm-1" @onclick="AddGroup"><span class="oi oi-plus"></span> @Loc["AddGroup"]</button>
            <button class="btn btn-sm btn-outline-primary m-sm-1" @onclick="EditGroup"><span class="oi oi-pencil"></span> @Loc["EditGroup"]</button>
            <button class="btn btn-sm btn-outline-danger m-sm-1" @onclick="DeleteGroup"><span class="oi oi-x"></span> @Loc["DeleteGroup"]</button>
        </div>
    </div>
    <div class="row">
        <div class="list-group list-group-horizontal">
            <button class="btn btn-sm btn-outline-primary m-sm-1" @onclick="ImportProxies"><span class="oi oi-data-transfer-upload"></span> @Loc["ImportProxies"]</button>
        </div>
    </div>
</div>

<EditForm Model="groups">
    <label>@Loc["ProxyGroup"]</label>
    <InputSelectNumber @ref="groupSelectElement" T="int" Value="currentGroupId" ValueExpression="(() => currentGroupId)"
                       ValueChanged="(async val => await OnGroupSelected(val))">
        <option value="-1">@Loc["All"]</option>
        @foreach (var group in groups)
        {
            <option value="@group.Id">@group.Name</option>
        }
    </InputSelectNumber><br />
    <label>@Loc["ResultsPerPage"]</label>
    <InputSelectNumber T="int" Value="resultsPerPage" ValueExpression="(() => resultsPerPage)"
                       ValueChanged="(async val => await OnResultsPerPageChanged(val))">
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="100">100</option>
        <option value="250">250</option>
    </InputSelectNumber>
</EditForm>

<p>@proxies.Count @Loc["results"]</p>

<RadzenGrid @ref="proxiesGrid" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
            AllowPaging="true" PageSize="@resultsPerPage"
            AllowSorting="true" Data="@proxies" TItem="ProxyEntity" ColumnWidth="150px" EmptyText="@Loc["NoRecordsToDisplay"]">
    <Columns>
        <RadzenGridColumn TItem="ProxyEntity" Property="Type" Title="@Loc["Type"]" />
        <RadzenGridColumn TItem="ProxyEntity" Property="Host" Title="@Loc["Host"]" />
        <RadzenGridColumn TItem="ProxyEntity" Property="Port" Title="@Loc["Port"]" Width="100px" />
        <RadzenGridColumn TItem="ProxyEntity" Property="Username" Title="@Loc["Username"]" />
        <RadzenGridColumn TItem="ProxyEntity" Property="Password" Title="@Loc["Password"]" />
        <RadzenGridColumn TItem="ProxyEntity" Property="Country" Title="@Loc["Country"]" />
        <RadzenGridColumn TItem="ProxyEntity" Property="Status" Title="@Loc["Status"]" />
        <RadzenGridColumn TItem="ProxyEntity" Property="Ping" Title="@Loc["Ping"]" Width="100px" />
        <RadzenGridColumn TItem="ProxyEntity" Property="LastChecked" Title="@Loc["LastChecked"]" />
    </Columns>
</RadzenGrid>
