@page "/proxies/groups"
@using OpenBullet2.Core.Entities
@inject Microsoft.Extensions.Localization.IStringLocalizer<ProxyGroups> Loc
@attribute [Authorize(Roles = "Admin,Guest")]

<div class="container-fluid">
    <div class="row mb-2">
        <div class="list-group list-group-horizontal">
            <button class="btn btn-sm btn-outline-success" @onclick="AddGroup"><span class="oi oi-plus"></span> @Loc["AddGroup"]</button>
            <button class="btn btn-sm btn-outline-primary" @onclick="EditGroup"><span class="oi oi-pencil"></span> @Loc["EditGroup"]</button>
            <button class="btn btn-sm btn-outline-danger" @onclick="DeleteGroup"><span class="oi oi-x"></span> @Loc["DeleteGroup"]</button>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col px-0">
            <EditForm Model="groups">
                <label>@Loc["ProxyGroup"]</label>
                <InputSelectNumber @ref="groupSelectElement" T="int" Value="currentGroupId" ValueExpression="(() => currentGroupId)"
                                   ValueChanged="(async val => await OnGroupSelected(val))">
                    <option value="-1">@Loc["All"]</option>
                    @foreach (var group in groups)
                    {
                        <option value="@group.Id">@group.Name</option>
                    }
                </InputSelectNumber>
                @if (uid == 0 && groups.Any(g => g.Id == currentGroupId) && groups.First(g => g.Id == currentGroupId).Owner != null)
                {
                    <span class="ml-3"><b>@Loc["Owner"]: </b>@groups.FirstOrDefault(g => g.Id == currentGroupId).Owner.Username</span>
                }
            </EditForm>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col px-0">
            <span>@Loc["ForThisGroup"]:</span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="list-group list-group-horizontal">
            <button class="btn btn-sm btn-outline-success" @onclick="ImportProxies"><span class="oi oi-data-transfer-upload"></span> @Loc["ImportProxies"]</button>
            <button class="btn btn-sm btn-outline-primary" @onclick="ExportProxies"><span class="oi oi-data-transfer-download"></span> @Loc["ExportProxies"]</button>
            <button class="btn btn-sm btn-outline-primary" @onclick="MoveFiltered"><span class="oi oi-arrow-right"></span> @Loc["MoveFiltered"]</button>
            <button class="btn btn-sm btn-outline-danger" @onclick="DeleteAllProxies"><span class="oi oi-x"></span> @Loc["DeleteAllProxies"]</button>
            <button class="btn btn-sm btn-outline-danger" @onclick="DeleteNotWorking"><span class="oi oi-x"></span> @Loc["DeleteNotWorking"]</button>
            <button class="btn btn-sm btn-outline-danger" @onclick="DeleteUntested"><span class="oi oi-x"></span> @Loc["DeleteUntested"]</button>
            <button class="btn btn-sm btn-outline-danger" @onclick="DeleteSlow"><span class="oi oi-x"></span> @Loc["DeleteSlow"]</button>
            <button class="btn btn-sm btn-outline-danger" @onclick="DeleteFiltered"><span class="oi oi-x"></span> @Loc["DeleteFiltered"]</button>
        </div>
    </div>
</div>

<EditForm Model="maxPing">
    <label>@Loc["Slow"] = @Loc["pingOver"]</label>
    <InputNumber style="width: 100px" @bind-Value="maxPing" />
</EditForm>

<div>
    <span><b>@Loc["Total"]: </b>@proxies.Count</span>
    <span class="fg-hit ml-1"><b>@Loc["Working"]: </b>@WorkingProxies</span>
    <span class="fg-fail ml-1"><b>@Loc["NotWorking"]: </b>@NotWorkingProxies</span>
</div>

@if (gridLoad != null && !gridLoad.IsCanceled && gridLoad.IsCompleted)
{
    <GridComponent @ref="gridComponent" T="ProxyEntity" Grid="@grid"></GridComponent>
}
else
{
    <p><em>@Loc["Loading"]...</em></p>
}

<hr />
<BullettaHelp Title="@help1x00" Messages="new string[] { help1x01, help1x02, help1x03 }" />
<br />
<br />

@code {
    private string help1x00 => Loc["Help1x00"];
    private string help1x01 => Loc["Help1x01"];
    private string help1x02 => Loc["Help1x02"];
    private string help1x03 => Loc["Help1x03"];
} 