@page "/settings/rurilib"
@using RuriLib.Models.Settings
@using RuriLib.Parallelization 
@using RuriLib.Functions.Captchas
@inject Microsoft.Extensions.Localization.IStringLocalizer<RLSettings> Loc
@attribute [Authorize(Roles = "Admin")]

<button class="btn btn-outline-success" style="margin: 10px 0;" @onclick="Save">@Loc["Save"]</button>
<button class="btn btn-outline-warning" style="margin: 10px 0;" @onclick="RestoreDefaults">@Loc["RestoreDefaults"]</button>

<h1>@Loc["General"]</h1>
<EditForm Model="settings.GeneralSettings">

    <label>@Loc["ParallelizerType"]</label>
    <InputSelect @bind-Value="settings.GeneralSettings.ParallelizerType">
        @foreach (var type in Enum.GetNames(typeof(ParallelizerType)))
        {
            <option value="@type">@type</option>
        }
    </InputSelect>
    <br />

    <label>@Loc["LogJobActivityToFile"]</label>
    <InputCheckbox class="mb-3" @bind-Value="settings.GeneralSettings.LogJobActivityToFile" />
    <br />
    
    @if (settings.GeneralSettings.LogJobActivityToFile)
    {
        <label>@Loc["LogAllResults"]</label>
        <InputCheckbox class="mb-3" @bind-Value="settings.GeneralSettings.LogAllResults" />
        <br />
    }

    <label>@Loc["EnableBotLogging"]</label>
    <InputCheckbox class="mb-3" @bind-Value="settings.GeneralSettings.EnableBotLogging" />
    <br />

    <label>@Loc["VerboseMode"]</label>
    <InputCheckbox class="mb-3" @bind-Value="settings.GeneralSettings.VerboseMode" />
    <br />

    <label>@Loc["RestrictBlocksToCWD"]</label>
    <InputCheckbox class="mb-3" @bind-Value="settings.GeneralSettings.RestrictBlocksToCWD" />
    <br />

    <label>@Loc["UseCustomUserAgentsList"]</label>
    <InputCheckbox class="mb-3" @bind-Value="settings.GeneralSettings.UseCustomUserAgentsList" />
    <br />

    <label>@Loc["UserAgents"]</label>
    <InputListOfStrings @bind-List="settings.GeneralSettings.UserAgents" />
</EditForm>

<h1>@Loc["Proxies"]</h1>
<EditForm Model="settings.ProxySettings">
    <label>@Loc["ConnectTimeoutMilliseconds"]</label>
    <InputNumber class="mb-3" @bind-Value="settings.ProxySettings.ProxyConnectTimeoutMilliseconds" />
    <br />

    <label>@Loc["ReadWriteTimeoutMilliseconds"]</label>
    <InputNumber class="mb-3" @bind-Value="settings.ProxySettings.ProxyReadWriteTimeoutMilliseconds" />
    <br />

    <label>@Loc["GlobalBanKeys"]</label>
    <InputListOfStrings @bind-List="settings.ProxySettings.GlobalBanKeys" />

    <label>@Loc["GlobalRetryKeys"]</label>
    <InputListOfStrings @bind-List="settings.ProxySettings.GlobalRetryKeys" />
</EditForm>

<h1>@Loc["Captchas"]</h1>
<EditForm Model="settings.CaptchaSettings">
    <label>@Loc["TimeoutSeconds"]</label>
    <InputNumber @bind-Value="settings.CaptchaSettings.TimeoutSeconds" />

    <label>@Loc["PollingIntervalMilliseconds"]</label>
    <InputNumber @bind-Value="settings.CaptchaSettings.PollingIntervalMilliseconds" />

    <label>@Loc["CheckBalanceBeforeSolving"]</label>
    <InputCheckbox class="mb-3" @bind-Value="settings.CaptchaSettings.CheckBalanceBeforeSolving" />
    <br />

    <label>@Loc["CurrentService"]</label>
    <InputSelect @bind-Value="settings.CaptchaSettings.CurrentService">
        @foreach (var service in Enum.GetNames(typeof(CaptchaServiceType)))
        {
            <option value="@service">@service</option>
        }
    </InputSelect>
    <br />

    @switch (settings.CaptchaSettings.CurrentService)
    {
        case CaptchaServiceType.AntiCaptcha:
            <label>@Loc["AntiCaptchaApiKey"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.AntiCaptchaApiKey" />
            break;

        case CaptchaServiceType.AzCaptcha:
            <label>@Loc["AZCaptchaApiKey"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.AZCaptchaApiKey" />
            break;

        case CaptchaServiceType.CapMonster:
            <label>@Loc["CapMonsterHost"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.CapMonsterHost" />

            <label>@Loc["CapMonsterPort"]</label>
            <InputNumber class="mb-3" @bind-Value="settings.CaptchaSettings.CapMonsterPort" />
            break;

        case CaptchaServiceType.CaptchasIO:
            <label>@Loc["CaptchasDotIoApiKey"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.CaptchasDotIoApiKey" />
            break;

        case CaptchaServiceType.CustomTwoCaptcha:
            <label>@Loc["Custom2CaptchaApiKey"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.CustomTwoCaptchaApiKey" />

            <label>@Loc["Custom2CaptchaHost"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.CustomTwoCaptchaDomain" />

            <label>@Loc["Custom2CaptchaPort"]</label>
            <InputNumber class="mb-3" @bind-Value="settings.CaptchaSettings.CustomTwoCaptchaPort" />

            <label>@Loc["Custom2CaptchaOverrideHostHeader"]</label>
            <InputCheckbox class="mb-3" @bind-Value="settings.CaptchaSettings.CustomTwoCaptchaOverrideHostHeader" />
            <br />
            break;

        case CaptchaServiceType.DeathByCaptcha:
            <label>@Loc["DeathByCaptchaUsername"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.DeathByCaptchaUsername" />

            <label>@Loc["DeathByCaptchaPassword"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.DeathByCaptchaPassword" />
            break;

        case CaptchaServiceType.DeCaptcher:
            <label>@Loc["DeCaptcherUsername"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.DeCaptcherUsername" />

            <label>@Loc["DeCaptcherPassword"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.DeCaptcherPassword" />
            break;

        case CaptchaServiceType.ImageTyperz:
            <label>@Loc["ImageTyperzApiKey"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.ImageTyperzApiKey" />
            break;

        case CaptchaServiceType.RuCaptcha:
            <label>@Loc["RuCaptchaApiKey"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.RuCaptchaApiKey" />
            break;

        case CaptchaServiceType.SolveCaptcha:
            <label>@Loc["SolveCaptchaApiKey"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.SolveCaptchaApiKey" />
            break;

        case CaptchaServiceType.SolveRecaptcha:
            <label>@Loc["SolveRecaptchaApiKey"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.SolveRecaptchaApiKey" />
            break;

        case CaptchaServiceType.TrueCaptcha:
            <label>@Loc["TrueCaptchaApiKey"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.TrueCaptchaApiKey" />

            <label>@Loc["TrueCaptchaUsername"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.TrueCaptchaUsername" />
            break;

        case CaptchaServiceType.TwoCaptcha:
            <label>@Loc["2CaptchaApiKey"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.TwoCaptchaApiKey" />
            break;

        case CaptchaServiceType.NineKW:
            <label>@Loc["9KWApiKey"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.NineKWApiKey" />
            break;

        case CaptchaServiceType.CustomAntiCaptcha:
            <label>@Loc["CustomAntiCaptchaApiKey"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.CustomAntiCaptchaApiKey" />

            <label>@Loc["CustomAntiCaptchaHost"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.CustomAntiCaptchaDomain" />

            <label>@Loc["CustomAntiCaptchaPort"]</label>
            <InputNumber class="mb-3" @bind-Value="settings.CaptchaSettings.CustomAntiCaptchaPort" />
            break;

        case CaptchaServiceType.AnyCaptcha:
            <label>@Loc["AnyCaptchaApiKey"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.AnyCaptchaApiKey" />
            break;

        case CaptchaServiceType.CapSolver:
            <label>@Loc["CapSolverApiKey"]</label>
            <InputText class="mb-3" @bind-Value="settings.CaptchaSettings.CapSolverApiKey" />
            break;
    }

    <button class="btn btn-outline-primary" style="margin: 10px 0;" @onclick="CheckBalance">@Loc["CheckBalance"]</button>
</EditForm>

<h1>@Loc["Puppeteer"]</h1>
<EditForm Model="settings.PuppeteerSettings">
    <label>@Loc["ChromeBinaryLocation"]</label>
    <InputText class="mb-3" @bind-Value="settings.PuppeteerSettings.ChromeBinaryLocation" />

    <!--
    <label>@Loc["DrawMouseMovement"]</label>
    <InputCheckbox class="mb-3" @bind-Value="settings.PuppeteerSettings.DrawMouseMovement" />
    <br />
    -->
</EditForm>

<h1>@Loc["Selenium"]</h1>
<EditForm Model="settings.SeleniumSettings">
    <label>@Loc["BrowserType"]</label>
    <InputSelect @bind-Value="settings.SeleniumSettings.BrowserType">
        @foreach (var type in Enum.GetNames(typeof(SeleniumBrowserType)))
        {
            <option value="@type">@type</option>
        }
    </InputSelect>
    <br />

    <label>@Loc["ChromeBinaryLocation"]</label>
    <InputText class="mb-3" @bind-Value="settings.SeleniumSettings.ChromeBinaryLocation" />

    <label>@Loc["FirefoxBinaryLocation"]</label>
    <InputText class="mb-3" @bind-Value="settings.SeleniumSettings.FirefoxBinaryLocation" />

    <!--
    <label>@Loc["DrawMouseMovement"]</label>
    <InputCheckbox class="mb-3" @bind-Value="settings.PuppeteerSettings.DrawMouseMovement" />
    <br />
    -->
</EditForm>

<button class="btn btn-outline-success" style="margin: 10px 0;" @onclick="Save">@Loc["Save"]</button>
<button class="btn btn-outline-warning" style="margin: 10px 0;" @onclick="RestoreDefaults">@Loc["RestoreDefaults"]</button>
