@page "/config/edit/stacker"
@using RuriLib.Models.Blocks
@using RuriLib.Models.Blocks.Custom
@inject Microsoft.Extensions.Localization.IStringLocalizer<Stacker> Loc
@attribute [Authorize(Roles = "Admin")]

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <div style="height: 700px; overflow-y: auto;">
                <h5>@Loc["CurrentStack"]</h5>
                <StackViewer @ref="stackViewer" Stack="config.Stack" DeletedBlocks="config.DeletedBlocksHistory" SelectedBlock="SelectedBlock" />
            </div>
        </div>
        <div class="col-xl-6 col-lg-6">
            <div class="pr-4" style="height: 700px; overflow-y: auto;">
                <h5>@Loc["BlockInformation"]</h5>
                @if (selectedBlock != null)
                {
                    @switch (selectedBlock)
                    {
                        case KeycheckBlockInstance x:
                            <KeycheckBlockSettingsViewer Block="x"  ChangedLabel="((args) => stackViewer.RefreshView())" />
                            break;

                        case HttpRequestBlockInstance x:
                            <HttpRequestBlockSettingsViewer Block="x"  ChangedLabel="((args) => stackViewer.RefreshView())" />
                            break;

                        case ParseBlockInstance x:
                            <ParseBlockSettingsViewer Block="x" ChangedLabel="((args) => stackViewer.RefreshView())" />
                            break;

                        case ScriptBlockInstance x:
                            <ScriptBlockSettingsViewer Block="x" ChangedLabel="((args) => stackViewer.RefreshView())" />
                            break;

                        case LoliCodeBlockInstance x:
                            <LoliCodeBlockSettingsViewer Block="x" />
                            break;

                        case AutoBlockInstance x:
                            <BlockSettingsViewer Block="x" ChangedLabel="((args) => stackViewer.RefreshView())" />
                            break;
                    }
                }
                else
                {
                    <text>@Loc["NoBlockSelectedInfo"]</text>
                }
            </div>
        </div>
        <div class="col-xl-3 d-xl-block d-none">
            <div style="height: 700px; overflow-y: auto;">
                <h5>@Loc["AvailableBlocks"]</h5>
                <AvailableBlocksViewer SelectedDescriptor="AddBlock" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col px-0">
            <BullettaHelp Title="@help1x00" Messages="new string[] { help1x01, help1x02, help1x03 }" /><br />
            <BullettaHelp Title="@help2x00" Messages="new string[] { help2x01, help2x02, help2x03, help2x04 }" /><br />
            <BullettaHelp Title="@help3x00" Messages="new string[] { help3x01, help3x02, help3x03 }" />
            <hr />
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <Debugger Config="config" />
    </div>
</div>

@code {
    string help1x00 => Loc["Help1x00"];
    string help1x01 => Loc["Help1x01"];
    string help1x02 => Loc["Help1x02"];
    string help1x03 => Loc["Help1x03"];

    string help2x00 => Loc["Help2x00"];
    string help2x01 => Loc["Help2x01"];
    string help2x02 => Loc["Help2x02"];
    string help2x03 => Loc["Help2x03"];
    string help2x04 => Loc["Help2x04"];

    string help3x00 => Loc["Help3x00"];
    string help3x01 => Loc["Help3x01"];
    string help3x02 => Loc["Help3x02"];
    string help3x03 => Loc["Help3x03"];
}