@page "/wordlists"
@using OpenBullet2.Core.Entities
@inject Microsoft.Extensions.Localization.IStringLocalizer<Wordlists> Loc
@attribute [Authorize(Roles = "Admin,Guest")]

<div class="container-fluid">
    <div class="row mb-2">
        <div class="list-group list-group-horizontal">
            <button class="btn btn-sm btn-outline-success" @onclick="AddWordlist"><span class="oi oi-plus"></span> @Loc["Add"]</button>
            <button class="btn btn-sm btn-outline-primary" @onclick="EditWordlist"><span class="oi oi-pencil"></span> @Loc["Edit"]</button>
            <button class="btn btn-sm btn-outline-danger" @onclick="DeleteWordlist"><span class="oi oi-x"></span> @Loc["Delete"]</button>
        </div>
    </div>
</div>

@if (gridLoad != null && !gridLoad.IsCanceled && gridLoad.IsCompleted)
{
    <GridComponent @ref="gridComponent" T="WordlistEntity" Grid="@grid" OnRowClicked="@OnWordlistSelected"></GridComponent>
}
else
{
    <p><em>@Loc["Loading"]...</em></p>
}

<hr />
<BullettaHelp Title="@help1x00" Messages="new string[] { help1x01, help1x02, help1x03 }" />
<br /><br />

@code {
    private string help1x00 => Loc["Help1x00"];
    private string help1x01 => Loc["Help1x01"];
    private string help1x02 => Loc["Help1x02"];
    private string help1x03 => Loc["Help1x03"];
} 