@using RuriLib.Models.Jobs.Monitor.Actions
@inject IModalService ModalService

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>Generic</p>
            <div class="vertical-buttons-list">
                <ul>
                    <li><button class="btn btn-outline-primary" @onclick="@(() => BlazoredModal.Close(ModalResult.Ok(new StartJobAction())))">Start Job</button></li>
                    <li><button class="btn btn-outline-primary" @onclick="@(() => BlazoredModal.Close(ModalResult.Ok(new StopJobAction())))">Stop Job</button></li>
                    <li><button class="btn btn-outline-primary" @onclick="@(() => BlazoredModal.Close(ModalResult.Ok(new WaitAction())))">Wait</button></li>
                    <li><button class="btn btn-outline-primary" @onclick="@(() => BlazoredModal.Close(ModalResult.Ok(new SetRelativeStartConditionAction())))">Set Relative Start Condition</button></li>
                    <li><button class="btn btn-outline-primary" @onclick="@(() => BlazoredModal.Close(ModalResult.Ok(new DiscordWebhookAction())))">Discord webhook</button></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <p>MultiRunJob</p>
            <div class="vertical-buttons-list">
                <ul>
                    <li><button class="btn btn-outline-primary" @onclick="@(() => BlazoredModal.Close(ModalResult.Ok(new SetBotsAction())))">Set Bots</button></li>
                    <li><button class="btn btn-outline-primary" @onclick="@(() => BlazoredModal.Close(ModalResult.Ok(new ReloadProxiesAction())))">Reload Proxies</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@code { 
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
}
