@using RuriLib.Models.Configs
@inject Microsoft.Extensions.Localization.IStringLocalizer<ConfigSelector> Loc

<div class="config-selector">
    <div class="config-selector-grid">
        @if (gridLoad != null && !gridLoad.IsCanceled && gridLoad.IsCompleted)
        {
            <GridComponent @ref="gridComponent" T="Config" Grid="@grid" OnRowClicked="@OnConfigSelected"></GridComponent>
        }
        else
        {
            <p><em>@Loc["Loading"]...</em></p>
        }
    </div>
    <div class="config-selector-details">
        @if (selectedConfig != null)
        {
            <div class="w-100">
                <p style="color: orange;">@selectedConfig.Metadata.Name @Loc["by"] @selectedConfig.Metadata.Author</p>
            </div>
            <div class="w-100">
                <MarkdownRenderer MarkdownContent="@selectedConfig.Readme" />
            </div>
        }
    </div>
    <div>
        <button class="btn btn-outline-success" @onclick="Select">@Loc["Select"]</button>
    </div>
</div>