@using System.Globalization
@inject PersistentSettingsService PersistentSettings
@inject OpenBulletSettingsService OBSettingsService
@inject NavigationManager NavigationManager
@inject IModalService ModalService 

<div class="container-flex">
    <div class="row">
        <div class="col text-center">
            <img class="culture-flag" @onclick="@(() => ChangeCulture("en"))" src="images/flags/en.png" /><br />
            <span>English</span>
        </div>
        <div class="col text-center">
            <img class="culture-flag" @onclick="@(() => ChangeCulture("it"))" src="images/flags/it.png" /><br />
            <span>Italiano</span>
        </div>
        <div class="col text-center">
            <img class="culture-flag" @onclick="@(() => ChangeCulture("de"))" src="images/flags/de.png" /><br />
            <span>Deutsch</span>
        </div>
        <div class="col text-center">
            <img class="culture-flag" @onclick="@(() => ChangeCulture("fr"))" src="images/flags/fr.png" /><br />
            <span>Français</span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col text-center">
            <img class="culture-flag" @onclick="@(() => ChangeCulture("es"))" src="images/flags/es.png" /><br />
            <span>Español</span>
        </div>
        <div class="col text-center">
            <img class="culture-flag" @onclick="@(() => ChangeCulture("pt"))" src="images/flags/pt.png" /><br />
            <span>Português</span>
        </div>
        <div class="col text-center">
            <img class="culture-flag" @onclick="@(() => ChangeCulture("nl"))" src="images/flags/nl.png" /><br />
            <span>Nederlands</span>
        </div>
        <div class="col text-center">
            <img class="culture-flag" @onclick="@(() => ChangeCulture("ru"))" src="images/flags/ru.png" /><br />
            <span>Pусский</span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col text-center">
            <img class="culture-flag" @onclick="@(() => ChangeCulture("tr"))" src="images/flags/tr.png" /><br />
            <span>Türk</span>
        </div>
        <div class="col text-center">
            <img class="culture-flag" @onclick="@(() => ChangeCulture("ro"))" src="images/flags/ro.png" /><br />
            <span>Română</span>
        </div>
        <div class="col text-center">
            <img class="culture-flag" @onclick="@(() => ChangeCulture("fa"))" src="images/flags/fa.png" /><br />
            <span>فارسی</span>
        </div>
        <div class="col text-center">
            <img class="culture-flag" @onclick="@(() => ChangeCulture("vi"))" src="images/flags/vi.png" /><br />
            <span>Tiếng Việt</span>
        </div>
    </div>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter] public bool SaveSettings { get; set; } = true;

    private async Task ChangeCulture(string culture)
    {
        var uri = new Uri(NavigationManager.Uri)
            .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);

        if (PersistentSettings.UseCultureCookie)
        {
            var query = $"?culture={Uri.EscapeDataString(culture)}&" +
                $"redirectUri={Uri.EscapeDataString(uri)}";

            NavigationManager.NavigateTo("/Culture/SetCulture" + query, true);
        }
        else
        {
            OBSettingsService.Settings.GeneralSettings.Culture = culture;

            if (SaveSettings)
            {
                await OBSettingsService.Save();
            }

            CultureInfo.CurrentCulture = new CultureInfo(culture);
            CultureInfo.CurrentUICulture = new CultureInfo(culture);

            NavigationManager.NavigateTo(uri, true);
        }
    }
}