@using OpenBullet2.Helpers
@using System.ComponentModel.DataAnnotations;
@inject IModalService ModalService
@inject IGuestRepository GuestRepo
@inject Microsoft.Extensions.Localization.IStringLocalizer<GuestAdd> Loc

<EditForm Model="guest" OnValidSubmit="HandleValidSubmit">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>@Loc["Username"]</label>
    <InputText @bind-Value="guest.Username" />

    <label>@Loc["Password"]</label>
    <InputText type="password" @bind-Value="guest.Password" />

    <label>@Loc["ConfirmPassword"]</label>
    <InputText type="password" @bind-Value="guest.PasswordConfirmation" />

    <label>@Loc["AccessExpiration"]</label>
    <InputDate @bind-Value="guest.AccessExpiration" />

    <label>@Loc["AllowedAddresses"] (@Loc["allIfEmpty"])</label>
    <p style="color: #ccc; font-size: small;">@Loc["Example"]: 192.168.1.1,10.0.0.0/24,example.dyndns.org,::1</p>
    <InputText @bind-Value="guest.AllowedAddresses" />

    <button type="submit" class="btn btn-outline-success">@Loc["Ok"]</button>
</EditForm>

@code { 
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    private class GuestCreateModel
    {
        [Required]
        [StringLength(32, ErrorMessage = "The username must be between 3 and 32 characters.", MinimumLength = 3)]
        public string Username { get; set; } = string.Empty;

        [Required]
        [StringLength(32, ErrorMessage = "The password must be between 8 and 32 characters.", MinimumLength = 8)]
        public string Password { get; set; } = string.Empty;

        [Required]
        [Compare("Password")]
        public string PasswordConfirmation { get; set; } = string.Empty;

        [Required]
        public DateTime AccessExpiration { get; set; } = DateTime.UtcNow.AddDays(7);
        public string AllowedAddresses { get; set; } = string.Empty;
    }

    private GuestCreateModel guest = new GuestCreateModel();

    private async Task HandleValidSubmit()
    {
        var existingGuest = GuestRepo.GetAll().FirstOrDefault(g => g.Username == guest.Username);

        if (existingGuest != null)
        {
            await js.AlertError(Loc["Uh-Oh"], Loc["GuestAlreadyExists"]);
            return;
        }

        var entity = new OpenBullet2.Core.Entities.GuestEntity
        {
            Username = guest.Username,
            PasswordHash = BCrypt.Net.BCrypt.HashPassword(guest.Password),
            AccessExpiration = guest.AccessExpiration,
            AllowedAddresses = guest.AllowedAddresses
        };

        BlazoredModal.Close(ModalResult.Ok(entity));
    } 
}
