@using OpenBullet2.Core.Entities
@using RuriLib.Services
@inject IModalService ModalService
@inject IHitRepository HitRepo
@inject RuriLibSettingsService RuriLibSettings
@inject Microsoft.Extensions.Localization.IStringLocalizer<HitEdit> Loc

<EditForm Model="Hit">
    <label>@Loc["Data"]</label>
    <InputText @bind-Value="Hit.Data" />
    <label class="mt-2">@Loc["HitType"]</label>
    <InputSelect @bind-Value="Hit.Type">
        @foreach (var type in hitTypes)
        {
            <option value="@type">@type</option>
        }
    </InputSelect><br />
    <label>@Loc["CapturedData"]</label>
    <InputText @bind-Value="Hit.CapturedData" />
    <button type="button" class="btn btn-outline-success" style="margin-top: 10px;" @onclick="Edit">@Loc["Edit"]</button>
</EditForm>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter] public HitEntity Hit { get; set; }
    private List<string> hitTypes;

    protected override void OnInitialized()
    {
        hitTypes = RuriLibSettings.GetStatuses().ToList();
    }

    private async Task Edit()
    {
        await HitRepo.Update(Hit);
        BlazoredModal.Close();
    }
}
