@using OpenBullet2.Core.Models.Jobs
@inject IModalService ModalService

<div class="vertical-buttons-list">
    <ul>
        <li><button class="btn btn-outline-primary" @onclick="@(() => Select(JobType.MultiRun))">Multi Run</button></li>
        <li><button class="btn btn-outline-primary" @onclick="@(() => Select(JobType.ProxyCheck))">Proxy Check</button></li>
        <li><button class="btn btn-outline-primary" @onclick="@(() => Select(JobType.Spider))" disabled>Spider (Coming soon)</button></li>
        <li><button class="btn btn-outline-primary" @onclick="@(() => Select(JobType.Ripper))" disabled>Ripper (Coming soon)</button></li>
        <li><button class="btn btn-outline-primary" @onclick="@(() => Select(JobType.PuppeteerUnitTest))" disabled>Puppeteer Unit Test (Coming soon)</button></li>
    </ul>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    private void Select(JobType type)
    {
        BlazoredModal.Close(ModalResult.Ok(type));
    }
}
