@using RuriLib.Models.Jobs.Monitor.Triggers
@inject IModalService ModalService
@inject Microsoft.Extensions.Localization.IStringLocalizer<TriggerEdit> Loc 

<EditForm Model="Trigger">
    @switch (Trigger)
    {
        case HitCountTrigger t:
            <span>@Loc["TriggerWhen"]</span>
            <InputIntComparison Label="Hit Count" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
            break;

        case CustomCountTrigger t:
            <span>@Loc["TriggerWhen"]</span>
            <InputIntComparison Label="Custom Count" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
            break;

        case ToCheckCountTrigger t:
            <span>@Loc["TriggerWhen"]</span>
            <InputIntComparison Label="ToCheck Count" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
            break;

        case BanCountTrigger t:
            <span>@Loc["TriggerWhen"]</span>
            <InputIntComparison Label="Ban Count" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
            break;

        case RetryCountTrigger t:
            <span>@Loc["TriggerWhen"]</span>
            <InputIntComparison Label="Retry Count" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
            break;

        case ErrorCountTrigger t:
            <span>@Loc["TriggerWhen"]</span>
            <InputIntComparison Label="Error Count" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
            break;

        case FailCountTrigger t:
            <span>@Loc["TriggerWhen"]</span>
            <InputIntComparison Label="Fail Count" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
            break;

        case TestedCountTrigger t:
            <span>@Loc["TriggerWhen"]</span>
            <InputIntComparison Label="Tested Count" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
            break;

        case AliveProxiesCountTrigger t:
            <span>@Loc["TriggerWhen"]</span>
            <InputIntComparison Label="Alive Proxies Count" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
            break;

        case BannedProxiesCountTrigger t:
            <span>@Loc["TriggerWhen"]</span>
            <InputIntComparison Label="Banned Proxies Count" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
            break;

        case JobFinishedTrigger t:
            <span>@Loc["TriggerWhen"] @Loc["JobFinished"]</span>
            break;

        case JobStatusTrigger t:
            <span>@Loc["TriggerWhen"] @Loc["JobStatus"]</span>
            <InputSelect @bind-Value="t.Status">
                @foreach (var status in Enum.GetNames(typeof(RuriLib.Parallelization.ParallelizerStatus)))
                        {
                    <option value="@status">@status</option>
                        }
            </InputSelect>
            break;

        case CPMTrigger t:
            <span>@Loc["TriggerWhen"]</span>
            <InputIntComparison Label="CPM" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
            break;

        case CaptchaCreditTrigger t:
            <span>@Loc["TriggerWhen"]</span>
            <InputFloatComparison Label="Captcha Credit" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
            break;

        case ProgressTrigger t:
            <span>@Loc["TriggerWhen"]</span>
            <InputFloatComparison Label="Progress" @bind-Amount="t.Amount" @bind-Comparison="t.Comparison" />
            break;

        case TimeElapsedTrigger t:
            <span>@Loc["TriggerWhen"] @Loc["TimeElapsed"]</span>
            <InputSelect @bind-Value="t.Comparison">
                @foreach (var comp in Enum.GetNames(typeof(RuriLib.Models.Conditions.Comparisons.NumComparison)))
                        {
                    <option value="@comp">@comp</option>
                        }
            </InputSelect>
            <InputNumber @bind-Value="t.Days" /> @Loc["days"]
            <InputNumber @bind-Value="t.Hours" /> @Loc["hours"]
            <InputNumber @bind-Value="t.Minutes" /> @Loc["minutes"]
            <InputNumber @bind-Value="t.Seconds" /> @Loc["seconds"]
            break;

        case TimeRemainingTrigger t:
            <span>@Loc["TriggerWhen"] @Loc["TimeRemaining"]</span>
            <InputSelect @bind-Value="t.Comparison">
                @foreach (var comp in Enum.GetNames(typeof(RuriLib.Models.Conditions.Comparisons.NumComparison)))
                        {
                    <option value="@comp">@comp</option>
                        }
            </InputSelect>
            <InputNumber @bind-Value="t.Days" /> @Loc["days"]
            <InputNumber @bind-Value="t.Hours" /> @Loc["hours"]
            <InputNumber @bind-Value="t.Minutes" /> @Loc["minutes"]
            <InputNumber @bind-Value="t.Seconds" /> @Loc["seconds"]
            break;
    }
</EditForm>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter] public Trigger Trigger { get; set; }
}
