@using OpenBullet2.Core.Entities
@using RuriLib.Services 
@inject IModalService ModalService
@inject IWordlistRepository WordlistRepo
@inject RuriLibSettingsService RuriLibSettings
@inject Microsoft.Extensions.Localization.IStringLocalizer<WordlistEdit> Loc

@if (model != null)
{
    <EditForm Model="model">
        <label class="mt-2">@Loc["WordlistType"]</label>
        <InputSelect @bind-Value="model.Type">
            @foreach (var type in wordlistTypes)
            {
                <option value="@type">@type</option>
            }
        </InputSelect><br />
        <label>@Loc["Name"]</label>
        <InputText @bind-Value="model.Name" />
        <label>@Loc["Purpose"]</label>
        <InputText @bind-Value="model.Purpose" />
        <button type="button" class="btn btn-outline-success" style="margin-top: 10px;" @onclick="Ok">@Loc["Edit"]</button>
    </EditForm>
}

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter] public WordlistEntity Wordlist { get; set; }
    private List<string> wordlistTypes;
    private EditModel model;

    private class EditModel
    {
        public string Name { get; set; }
        public string Type { get; set; }
        public string Purpose { get; set; }
    }

    protected override void OnInitialized()
    {
        wordlistTypes = RuriLibSettings.Environment.WordlistTypes.Select(w => w.Name).ToList();
    }

    protected override void OnParametersSet()
    {
        model = new()
        {
            Name = Wordlist.Name,
            Type = Wordlist.Type,
            Purpose = Wordlist.Purpose
        };
    }

    private void Ok()
    {
        Wordlist.Name = model.Name;
        Wordlist.Type = model.Type;
        Wordlist.Purpose = model.Purpose;

        BlazoredModal.Close();
    }
}
