@using OpenBullet2.Core.Entities
@inject Microsoft.Extensions.Localization.IStringLocalizer<GuestEdit> Loc

<div class="wordlist-selector container-fluid" style="overflow-y: auto;">
    <div class="row">
        <div class="wordlist-selector-grid col-12 mt-3" style="height: 250px; overflow-y: auto;">
            @if (gridLoad != null && !gridLoad.IsCanceled && gridLoad.IsCompleted)
            {
                <GridComponent @ref="gridComponent" T="WordlistEntity" Grid="@grid" OnRowClicked="@OnWordlistSelected"></GridComponent>
            }
            else
            {
                <p><em>@Loc["Loading"]...</em></p>
            }
        </div>
        <div class="wordlist-selector-preview col-12 mt-3" style="height: 250px; overflow-y: auto;">
            <textarea class="h-100" readonly>@linesPreview</textarea>
        </div>
        <div class="col-12 mt-3">
            <button class="btn btn-outline-success" @onclick="Select">@Loc["Select"]</button>
        </div>
    </div>
</div>