@using OpenBullet2.Entities 
@using OpenBullet2.Helpers
@inject IWordlistRepository WordlistRepo
@inject IModalService ModalService
@inject Microsoft.Extensions.Localization.IStringLocalizer<GuestEdit> Loc

<div class="container-fluid" style="overflow-y: auto; width: 1000px;">
    <div class="row" style="height: 250px; overflow-y: auto;">
        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="15"
                    AllowSorting="true" Data="@wordlists" TItem="WordlistEntity" ColumnWidth="130px"
                    RowSelect="Preview" RowDoubleClick="Select">
            <Columns>
                <RadzenGridColumn TItem="WordlistEntity" Property="Name" Title="@Loc["Name"]" />
                <RadzenGridColumn TItem="WordlistEntity" Property="Type" Title="@Loc["Type"]" />
                <RadzenGridColumn TItem="WordlistEntity" Property="Purpose" Title="@Loc["Purpose"]" />
                <RadzenGridColumn TItem="WordlistEntity" Property="Total" Title="@Loc["Total"]" Width="100px" />
                <RadzenGridColumn TItem="WordlistEntity" Property="FileName" Title="@Loc["FileName"]" Width="300px" />
            </Columns>
        </RadzenGrid>
    </div>
    <div class="row" style="height: 250px; margin-top: 15px; overflow-y: auto;">
        <textarea readonly>@linesPreview</textarea>
    </div>
    <div class="row">
        <button class="btn btn-outline-success" @onclick="Select">@Loc["Select"]</button>
    </div>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    List<WordlistEntity> wordlists;
    WordlistEntity selectedWordlist;
    string linesPreview = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        wordlists = await WordlistRepo.GetAll().ToListAsync();
    }

    void Preview(WordlistEntity wordlist)
    {
        selectedWordlist = wordlist;
        var previewAmount = Math.Min(wordlist.Total, 10);

        try
        {
            var lines = System.IO.File.ReadLines(wordlist.FileName).Take(previewAmount);
            linesPreview = string.Join(Environment.NewLine, lines);
        }
        catch
        {
            linesPreview = string.Empty;
        }
    }

    async Task Select()
    {
        if (selectedWordlist == null)
        {
            await js.AlertError(Loc["Uh-Oh"], Loc["SelectWordlistFirst"]);
            return;
        }

        BlazoredModal.Close(ModalResult.Ok(selectedWordlist));
    }
}
