@using OpenBullet2.Core.Entities
@using RuriLib.Services 
@inject IModalService ModalService
@inject IWordlistRepository WordlistRepo
@inject RuriLibSettingsService RuriLibSettings
@inject Microsoft.Extensions.Localization.IStringLocalizer<WordlistEdit> Loc

<EditForm Model="Wordlist">
    <label class="mt-2">@Loc["WordlistType"]</label>
    <InputSelect @bind-Value="Wordlist.Type">
        @foreach (var type in wordlistTypes)
        {
            <option value="@type">@type</option>
        }
    </InputSelect><br />
    <label>@Loc["Name"]</label>
    <InputText @bind-Value="Wordlist.Name" />
    <label>@Loc["Purpose"]</label>
    <InputText @bind-Value="Wordlist.Purpose" />
    <button type="button" class="btn btn-outline-success" style="margin-top: 10px;" @onclick="Ok">@Loc["Edit"]</button>
</EditForm>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter] public WordlistEntity Wordlist { get; set; }
    private List<string> wordlistTypes;

    protected override void OnInitialized()
    {
        wordlistTypes = RuriLibSettings.Environment.WordlistTypes.Select(w => w.Name).ToList();
    }

    private async Task Ok()
    {
        BlazoredModal.Close();
    }
}
